<template>
	<view class="carts" :style="this.$store.state.theme.presentTheme">
		<view class="uvSticky">
			<view class="uvSubItemList">
				<view class="uvSubItem" @click.stop="sectionChange(index)"
					:class="{ active: productTypeIndexs === index }" v-for="(item, index) in productTypeList"
					v-bind:key="index">{{ item.name }}</view>
			</view>

			<view class="cart-nav bg-white y-flex y-align-center y-justify-between">
				<view @click="allSelBtn" class="y-flex y-align-center">
					<view class="sel-btn">
						<uv-icon v-if="allSelState && shoppingCart.length" name="checkmark-circle-fill"
							:color="activeColor" size="40rpx"></uv-icon>
						<view v-else class="no-select"></view>
					</view>
					<span class="">{{ $t("goods.checkAll") }}</span>
				</view>
				<view class="w-130 y-flex y-justify-end" @click.stop="isEdit = !isEdit">
					<span v-if="!isEdit">{{ $t("goods.edit") }}</span>
					<span v-else>{{ $t("register.Cancel") }}</span>
				</view>
			</view>
		</view>
		<view>
			<view class="store-list pad-12" v-if="shoppingCart.length != 0">
				<view class="bg-white store-single" v-for="(storeItem, storeIndex) in shoppingCart" :key="storeIndex">
					<view @click.stop="storeSelBtn(storeItem, storeIndex)" class="store-header y-flex y-align-center">
						<view class="sel-btn">
							<uv-icon v-if="
                  (storeItem.selected && !isEdit) ||
                  (storeItem.isDelSelect && isEdit)
                " name="checkmark-circle-fill" :color="activeColor" size="40rpx"></uv-icon>
							<view v-else class="no-select"></view>
						</view>
						<span class="">{{ storeItem.brandFrontInfo.brandName }}</span>
						<uv-icon name="arrow-right"></uv-icon>
					</view>
					<view class="goods-list">
						<uniSwipeActionItem v-for="(goodsItem, goodsIndex) in storeItem.purchaseCartFrontDtos"
							:key="goodsIndex" @click.stop="goShopDetail(goodsItem.spuId, goodsItem)"
							:right-options="options" @click="deleteFn(goodsItem)">
							<view class="goods-item y-flex">
								<view @click.stop="goodsSelBtn(goodsItem, storeIndex, goodsIndex)"
									class="sel-height y-flex y-align-center">
									<view class="sel-btn">
										<uv-icon v-if="
                        (goodsItem.selected &&
                          !isEdit &&
                          goodsItem.cartStatus) ||
                        (goodsItem.isDelSelect && isEdit)
                      " name="checkmark-circle-fill" :color="activeColor" size="40rpx"></uv-icon>
										<image v-else-if="!goodsItem.cartStatus && !isEdit" class="no-select"
											src="https://livefile-1300828364.cos.ap-shanghai.myqcloud.com/miniphoto/new-common-applet/icon_check_disabled.png">
										</image>
										<view v-else class="no-select"></view>
									</view>
								</view>
								<view class="">
									<image :src="goodsItem.sku.picture" class="goods-imgs"></image>
									<!-- <u-image :src="goodsItem.productUrl" radius="10rpx" width="162rpx" height="162rpx"></u-image> -->
								</view>
								<!-- 商品状态为1时 -->
								<view v-if="goodsItem.cartStatus" class="y-flex y-flex-1 y-flex-column y-l-20">
									<view class="y-flex-1">
										<view class="goods-name bci-info-tit">
											{{ goodsItem.sku.productName }}
										</view>
										<view class="goods-attr y-flex">
											<view class="sic-specifi"
												v-if="goodsItem.sku.skuInfo && goodsItem.cartStatus">
												<view class="sic-specifi-cont" v-if="
                            goodsItem.sku.specs.length != 0 &&
                            goodsItem.cartStatus
                          ">
													<view>{{ goodsItem.sku.skuInfo }}</view>
													<!-- <image
                            src="https://livefile-1300828364.cos.ap-shanghai.myqcloud.com/miniphoto/new-common-applet/icon_zhankaix.png"
                          >
                          </image> -->
												</view>
											</view>
										</view>
									</view>
									<view class="goods-price y-flex y-align-end y-flex-1">
										<view class="y-flex-1 color-price">
											<text style="font-size: 12px">{{ moneyMark }} </text>
											<text style="margin-left: 10rpx">{{
                        goodsItem.sku.sellingPrice
                      }}</text>
										</view>
										<!--@click.stop  -->
										<view @click.stop>
											<uv-number-box v-model="goodsItem.quantity" integer :min="1"
												:max="goodsItem.sku.sellStockNum" buttonSize="25" inputWidth="30"
												@change="countChange($event, goodsItem)"></uv-number-box>
										</view>
									</view>
								</view>
								<view class="sic-bot y-flex y-flex-1 y-flex-column y-l-20" v-if="!goodsItem.cartStatus">
									<view class="goods-name bci-info-tit">
										{{ goodsItem.spuName }}
									</view>
									<view class="sic-bot-tip" v-if="goodsItem.stockFlag != 1">{{
                    $t("goods.SoldOut")
                  }}</view>
									<view class="sic-footer">
										<view class="sic-footer-tip"></view>
										<view class="sic-footer-resel line-main-color"
											@click.stop="deleteFn(goodsItem, storeIndex, goodsIndex)">
											{{ $t("goods.delete") }}
										</view>
									</view>
								</view>
							</view>
						</uniSwipeActionItem>
					</view>
				</view>
			</view>

			<!-- 无数据 -->
			<view class="no-data" v-if="shoppingCart.length == 0">
				<uv-empty textSize="30rpx" width='120' height='120' :icon="'/static/images/index/empty.png'"
					:text="$t('pages.empty')" marginTop="120rpx">
				</uv-empty>
			</view>
			<view style="height: 120rpx"></view>
		</view>
		<!-- 结算删除操作 -->
		<view class="footButton pad-12 z-index-p y-position-fixed y-bottom-0 y-left-0 y-right-0 bg-white y-flex">
			<view class="">
				<block v-if="!isEdit && shoppingCart.length">
					<view v-show="false">
						{{ $t("goods.estimatedPrice") }}：
						<span class="color-price"><text style="font-size: 12px">{{ moneyMark }} </text>
							{{ totalPrice }}
						</span>
					</view>
					<!-- <view v-show="false" class="amount" @click="skuAmountCalcFn"
            >{{ $t("goods.amountDetails") }}
            <uv-image
              width="18rpx"
              height="18rpx"
              style="margin-left: 4rpx"
              src="../../static/images/goods/down_icon.png"
            ></uv-image>
          </view> -->
				</block>
			</view>
			<view class="y-flex y-l-20">
				<uv-button v-if="!isEdit" color="#b41701" class="submitBtnStyle"
					:disabled="!confirmArr.length || !totalSelCount" @click="goSettlement">
					{{ $t("goods.Settlement") }}({{ totalSelCount }})
				</uv-button>
				<uv-button v-else shape="circle" :hairline="false" class="submitBtnStyle" :disabled="!totalSelCount"
					@click="delateCom">
					{{ $t("goods.delete") }}({{ totalSelCount }})
				</uv-button>
			</view>
		</view>
		<uv-popup ref="amountShow" :closeable="true" class="popupBox2" :round="20">
			<h3 class="title" style="margin-bottom: 24rpx">
				{{ $t("goods.amountDetails") }}
			</h3>
			<view class="amountDetail" v-if="skuAmountCalcData.length">
				<view class="amountItemList" v-for="(item, index) in skuAmountCalcData" :key="index">
					<view class="amountItem">
						<view class="leftKey">{{ $t("goods.PaymentName") }}:</view>
						<view class="rightVal" style="font-size: 28rpx">{{ item.fromTypeName }}-{{ item.toTypeName }}
						</view>
					</view>
					<view class="amountItem">
						<view class="leftKey">{{ $t("goods.PaymentBalance") }}:</view>
						<view class="rightVal">{{ moneyMark }} {{ currency(item.amount) }}</view>
					</view>
					<view class="amountItem">
						<view class="leftKey">{{ $t("goods.Deduction") }}:</view>
						<view class="rightVal" style="font-size: 28rpx; color: #b41701">
							{{ moneyMark }}
							{{ currency(item.operationAmount) }}
						</view>
					</view>
				</view>
			</view>
			<uv-empty v-else style="height: 400rpx" textSize="30rpx" :icon="'/static/images/index/empty.png'"
				:text="$t('pages.empty')" marginTop="0rpx">
			</uv-empty>
		</uv-popup>
	</view>
</template>
<script>
	import {
		purchaseCartList,
		purchaseCartDelete,
		purchaseCartAmend,
		purchaseCartSelectAll,
		purchaseCartSelectAllBrandId,
		purchaseCartSelectId,
		skuAmountCalc,
	} from "@/config/vmeitime-http/good.js";
	import storage from "@/utils/storage.js";
	import {
		currency
	} from "@/utils/util.js";
	import uniSwipeActionItem from "@/uni_modules/uni-swipe-action/components/uni-swipe-action-item/uni-swipe-action-item.vue";
	import uvSticky from "@/uni_modules/uv-sticky/components/uv-sticky/uv-sticky.vue";
	import uvSubsection from "@/uni_modules/uv-subsection/components/uv-subsection/uv-subsection.vue";

	export default {
		components: {
			uniSwipeActionItem,
			uvSticky,
			uvSubsection,
		},
		data() {
			return {
				activeColor: this.$store.state.theme.presentTheme['--theme-color'],
				moneyMark: this.$store.getters.moneyMark,
				currency,
				userInfo: storage.get("loginInfo"),
				isEdit: false,
				shoppingCart: [], // countryList.goodsCart,
				amountShow: false,
				options: [{
					text: "删除",
					style: {
						backgroundColor: "#b41701",
					},
				}, ],
				confirmArr: [], //确认结算数据组
				skuAmountCalcData: [], //金额明细

				productTypeList: [{
						name: this.$t("goods.ordinaryOrder"),
						id: "1",
					},
					{
						name: this.$t("home.accessories"),
						id: "2",
					},
				],
				productTypeIndexs: 0,
			};
		},
		// onLoad(options) {
		//   console.log('options: ', options);
		//   if(options?.productType=='Related'){
		//      this.productTypeIndexs=1
		//   }else{
		//     this.productTypeIndexs=0
		//   }
		// },
		props: {
			index: {
				type: Number,
				default: 0,
			},
		},
		mounted() {
			console.log("购物车数据===》", this.shoppingCart);
			this.productTypeIndexs = this.index;
			this.purchaseCartListFn();
		},
		computed: {
			//是否已经全部选中
			allSelState() {
				let buyAllSelect = true; // 购物全选
				let delAllSelect = true; // 编辑全选
				// console.log("this.shoppingCart: ", this.shoppingCart);
				if (this.shoppingCart?.length > 0) {
					this.shoppingCart.forEach((sitem) => {
						sitem.purchaseCartFrontDtos.forEach((gitem) => {
							if (!gitem.selected && gitem.status != 2 && gitem.stockFlag != 0)
								buyAllSelect = false;
							if (!gitem.isDelSelect) delAllSelect = false;
						});
					});
				}
				if (!this.isEdit) return buyAllSelect;
				else return delAllSelect;
			},
			//总价格
			totalPrice() {
				let totalPrice = 0;
				let confirmArr = [];
				if (this.shoppingCart?.length > 0) {
					this.shoppingCart.forEach((sitem) => {
						sitem.purchaseCartFrontDtos.forEach((gitem) => {
							if (gitem.selected && gitem.cartStatus) {
								totalPrice =
									totalPrice * 1 + gitem.sku.sellingPrice * gitem.quantity;
								confirmArr.push({
									skuId: gitem.sku.skuId,
									quantity: gitem.quantity,
								});
							}
						});
					});
				}
				this.confirmArr = confirmArr;
				return totalPrice.toFixed(2);
			},
			//当前操作下选中的数量
			totalSelCount() {
				let buyCount = 0; // 购物全选
				let delCount = 0; // 编辑全选
				if (this.shoppingCart?.length > 0) {
					this.shoppingCart.forEach((sitem) => {
						sitem.purchaseCartFrontDtos.forEach((gitem) => {
							// 去掉不可选的是否全选、全不选
							if (gitem.selected && gitem.cartStatus) {
								buyCount = buyCount * 1 + gitem.quantity;
							}
							if (gitem.isDelSelect) {
								delCount = delCount * 1 + 1;
							}
						});
					});
				}
				if (!this.isEdit) {
					return buyCount;
				} else {
					return delCount;
				}
			},
		},
		methods: {
			// 下单模式切换
			sectionChange(e) {
				console.log("e:下单模式切换 ", e);
				this.productTypeIndexs = e;
				this.purchaseCartListFn();
			},
			// 结算
			goSettlement() {
				console.log("结算====>", this.confirmArr);
				let confirmOrder = {
					fromCart: true,
					lines: this.confirmArr,
					addressId: null,
				};
				storage.set("confirmOrder", confirmOrder);
				uni.navigateTo({
					url: "/pagesA/order/confirmOrder",
				});
			},

			// 支付明细接口
			skuAmountCalcFn() {
				console.log("this.confirmArr: ");
				this.$refs.amountShow.open();
				if (this.confirmArr.length) {
					skuAmountCalc(this.confirmArr).then((res) => {
						if (res) {
							this.skuAmountCalcData = res.paymentDetails;
						}
					});
				} else {
					this.skuAmountCalcData = [];
				}
			},

			// 单个删除
			deleteFn(goodsItem, storeIndex, goodsIndex) {
				let idArr = [goodsItem.id];
				console.log('删除')
				this.purchaseCartDeleteFn(idArr);
			},
			// 批量删除
			delateCom() {
				let idArrs = [];
				this.shoppingCart.forEach((x) => {
					x.purchaseCartFrontDtos.forEach((y) => {
						if (y.isDelSelect) {
							idArrs.push(y.id);
						}
					});
				});
				console.log("idArrs: ", this.shoppingCart, idArrs);
				this.purchaseCartDeleteFn(idArrs);
				return;
			},
			// 删除接口
			purchaseCartDeleteFn(idArr) {
				uni.showLoading({
					mask: true,
				});
				let productType = this.productTypeIndexs == 1 ? "Related" : "Normal";
				purchaseCartDelete(idArr, productType).then((res) => {
					if (res) {
						uni.hideLoading();
						this.shoppingCart = res.data;
						uni.showToast({
							icon: 'none',
							title: this.$t("goods.operateSuccessfully"),
							duration: 2000
						});
						this.$emit("updateNum");
					}
				});
			},

			// 修改数量
			purchaseCartAmendFn(id, data) {
				uni.showLoading({
					mask: true,
				});
				purchaseCartAmend(id, data).then((res) => {
					if (res) {
						uni.hideLoading();
						uni.showToast({
							icon: 'none',
							title: this.$t("goods.operateSuccessfully"),
							duration: 2000
						});
					}
					this.purchaseCartListFn();
				});
			},

			// 全选接口
			purchaseCartSelectAllFn(selected) {
				let para = {
					selected: selected,
					productType: this.productTypeIndexs == 1 ? "Related" : "Normal",
				};
				purchaseCartSelectAll(para).then((res) => {
					if (res) {
						this.shoppingCart = res.data;
					}
				});
			},
			// 品牌全选接口
			purchaseCartSelectAllBrandIdFn(id, selected) {
				let param = {
					selected: selected,
					brandId: id,
					productType: this.productTypeIndexs == 1 ? "Related" : "Normal",
				};
				purchaseCartSelectAllBrandId(param).then((res) => {
					if (res) {
						this.shoppingCart = res.data;
					}
				});
			},
			// 单选接口
			purchaseCartSelectIdFn(id, selected) {
				let para = {
					// selected: selected,
				};
				purchaseCartSelectId(id, para).then((res) => {
					if (res) {
						this.shoppingCart = res.data;
					}
				});
			},

			// 获取购物车列表
			purchaseCartListFn() {
				uni.showLoading();
				let param = {
					productType: this.productTypeIndexs == 1 ? "Related" : "Normal",
				};
				purchaseCartList(param).then((res) => {
					if (res.code == 200) {
						this.shoppingCart = res?.data || [];
					}
					uni.hideLoading();
				});
			},
			//商家的选中与否
			storeSelBtn(storeItem, storeIndex) {
				let toState = !this.shoppingCart[storeIndex].selected;
				let brandId = storeItem.brandFrontInfo.brandId;
				if (!this.isEdit) {
					this.purchaseCartSelectAllBrandIdFn(brandId, toState);
				} else {
					let flag = this.isEdit ? "isDelSelect" : "selected";
					this.$set(
						this.shoppingCart[storeIndex],
						flag,
						!this.shoppingCart[storeIndex][flag]
					);
					this.shoppingCart[storeIndex].purchaseCartFrontDtos.forEach((item) => {
						if (this.isEdit) {
							this.$set(item, flag, this.shoppingCart[storeIndex][flag]);
						} else {
							// 去掉不可选的是否全选、全不选
							if (item.status != 2 && item.stockFlag != 0) {
								this.$set(item, flag, this.shoppingCart[storeIndex][flag]);
							}
						}
					});
				}

				// console.log("this.shoppingCart: ", this.shoppingCart);
			},
			//商品的选中与否
			goodsSelBtn(goodsItem, storeIndex, goodsIndex) {
				let toState = !this.shoppingCart[storeIndex].purchaseCartFrontDtos[goodsIndex]
					.selected;
				let id = goodsItem.id;

				// console.log("商品的选中与否=====>", toState, id);

				if (!this.isEdit) {
					this.purchaseCartSelectIdFn(id, toState);
				} else {
					let flag = this.isEdit ? "isDelSelect" : "selected";

					this.$set(
						this.shoppingCart[storeIndex].purchaseCartFrontDtos[goodsIndex],
						flag,
						!this.shoppingCart[storeIndex].purchaseCartFrontDtos[goodsIndex][flag]
					);

					let allIsSel = true; //是否已经全部选中
					this.shoppingCart[storeIndex].purchaseCartFrontDtos.forEach((item) => {
						if (this.isEdit) {
							if (!item.isDelSelect) {
								allIsSel = false;
							}
						} else {
							if (!item.selected && item.status != 2 && item.stockFlag != 0) {
								allIsSel = false;
							}
						}
					});
					this.$set(this.shoppingCart[storeIndex], flag, allIsSel);
				}
			},
			//商品的数量增减 记录服务器
			countChange(e, goodsItem) {
				// console.log("goodsItem", e, goodsItem);
				const {
					value
				} = e;
				let para = {
					cartType: "purchase",
					sku: {
						skuId: goodsItem.sku.skuId,
					},
					quantity: value,
				};
				this.purchaseCartAmendFn(goodsItem.id, para);
			},
			//全选
			allSelBtn() {
				let toState = !this.allSelState;
				console.log("toState: ", toState);

				if (!this.isEdit) {
					this.purchaseCartSelectAllFn(toState);
				} else {
					let flag = this.isEdit ? "isDelSelect" : "selected";
					this.shoppingCart.forEach((sitem) => {
						this.$set(sitem, flag, toState);
						sitem.purchaseCartFrontDtos.forEach((gitem) => {
							this.$set(gitem, flag, toState);
						});
					});
				}
			},
		},
	};
</script>

<style scoped lang="scss">
	:v-deep .uv-sticky__content {
		width: 100% !important;
	}

	.uvSticky {
		padding: 0px 20rpx;
		box-sizing: border-box;
	}

	.uvSubItemList {
		border-radius: 10rpx;
		display: flex;
		justify-content: space-between;
		font-size: 30rpx;
		border: 2rpx solid #b41701;
		padding: 0px !important;
		box-sizing: border-box;

		.uvSubItem {
			width: 50%;
			text-align: center;
			height: 60rpx;
			line-height: 60rpx;
		}

		.active {
			background-color: #b41701;
			color: #fff !important;
		}
	}

	.w-90 {
		width: 90rpx;
	}

	.sel-btn {
		width: 45rpx;
		height: 45rpx;
		margin-right: 10rpx;
	}

	.sel-height {
		height: 162rpx;
	}

	.no-select {
		width: 34rpx;
		height: 34rpx;
		border-radius: 50%;
		border: 1px solid rgb(235, 236, 238);
		position: relative;
	}

	.z-index-p {
		z-index: 100;
	}

	.bci-info-tit {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		font-size: 28rpx;
		line-height: 40rpx;
		word-break: break-all;
	}

	.carts {
		height: 900rpx;
		overflow: auto;

		.cart-nav {
			padding: 20rpx 12rpx;
			box-sizing: border-box;
			margin-bottom: 20rpx;
		}

		.pad-12 {
			padding: 0 30rpx;
			box-sizing: border-box;
		}

		.store-header {
			margin-bottom: 30rpx;
		}

		.goods-item {
			margin-bottom: 30rpx;
			margin-right: 20rpx;
		}

		.y-l-20 {
			margin-left: 20rpx;
		}

		.sic-specifi {
			position: relative;
			min-height: 60rpx;
			margin-top: 20rpx;

			.sic-specifi-cont {
				max-width: 100%;
				display: inline-flex;
				align-items: center;
				flex-wrap: nowrap;
				background: #f8f8f8;
				color: #666666;
				font-size: 28rpx;
				padding: 10rpx 18rpx 10rpx 10rpx;
				border-radius: 6rpx;
				box-sizing: border-box;
				margin-bottom: 20rpx;

				view {
					flex: 1;
					line-height: 40rpx;
					text-overflow: -o-ellipsis-lastline;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					margin-right: 20rpx;
				}

				image {
					width: 24rpx;
					height: 24rpx;
					vertical-align: middle;
				}
			}
		}

		.specifi-bt {
			margin-bottom: 20rpx;
		}

		.bci-info-anchor {
			margin-bottom: 20rpx;
		}

		.vip-txt-b {
			/* width: 80rpx; */
			height: 30rpx;
			margin-top: 22rpx;
			margin-bottom: 8rpx;
			display: flex;

			.activity-tips {
				box-sizing: border-box;
				height: 32rpx;
				background: linear-gradient(270deg, #fc3574 0%, #fc1e55 100%);
				opacity: 1;
				border-radius: 8rpx;
				color: #fff;
				font-size: 24rpx;
				font-family: PingFang SC;
				/* font-weight: bold; */
				line-height: 32rpx;
				padding: 0 10rpx;
			}

			.disabled {
				background: #bfbfbf;
			}

			.vipImg {
				width: 80rpx;
				height: 30rpx;
				/* margin-bottom: 8rpx; */
			}

			.vipImgB {
				width: 68rpx;
				height: 34rpx;
			}

			.vipImg2 {
				width: 120rpx;
				height: 30rpx;
				/* margin-bottom: 8rpx; */
			}
		}

		.sic-bot {
			overflow: hidden;
			justify-content: space-between;

			.sic-bot-tip {
				height: 34rpx;
				line-height: 34rpx;
				font-size: 24rpx;
				color: $theme-color;
			}

			.sic-footer {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 2rpx;

				.sic-footer-tip {
					font-size: 28rpx;
					line-height: 40rpx;
				}

				.sic-footer-resel {
					width: 96rpx;
					height: 48rpx;
					text-align: center;
					line-height: 44rpx;
					font-size: 24rpx;
					border-radius: 24rpx;
					box-sizing: border-box;
				}

				.line-main-color {
					color: $theme-color;
					border: 2rpx solid $theme-color;
				}
			}
		}

		// 失效列表
		.basket-list-inv {
			background: #ffffff;
			margin: 20rpx 24rpx 0;
			color: #2e2e2e;
			overflow: hidden;
			border-radius: 10rpx;

			.bli-tit {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 20rpx;
				font-size: 28rpx;

				.bli-tit-l {
					font-size: 28rpx;
					font-family: PingFang SC;
					font-weight: bold;
					color: #2e2e2e;
				}
			}

			.basket-item-inv {
				padding: 0 20rpx;
				margin-top: 20rpx;
				background: #ffffff;
				border-radius: 10rpx;
				overflow: hidden;
				padding: 0 20rpx 0 16rpx;
				border-radius: 0;

				.basket-com-list {
					.basket-com-item {
						position: relative;
						display: flex;
						align-items: flex-start;
						/* align-items: center;
								  margin-bottom: 80rpx; */
						margin-bottom: 40rpx;

						.bci-l {
							display: flex;
							align-items: center;

							.basket-top-inv {
								width: 44rpx;
								height: 26rpx;
								margin-right: 16rpx;
								overflow: hidden;

								image {
									width: 100%;
									height: 100%;
									vertical-align: top;
								}
							}

							.bci-img {
								width: 176rpx;
								height: 176rpx;
								border-radius: 10rpx;
							}
						}

						.bci-info {
							position: relative;
							flex: 1;
							min-height: 176rpx;
							margin-left: 20rpx;
							overflow: hidden;

							/* margin-bottom: 40rpx; */
							.bci-info-tit {
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 2;
								overflow: hidden;
								font-size: 28rpx;
								line-height: 40rpx;
								word-break: break-all;
							}

							.sic-footer-inv {
								position: absolute;
								left: 0;
								bottom: 0;
								font-size: 28rpx;

								.sic-footer-inv-tip {}
							}
						}
					}
				}
			}
		}
	}

	.goods-imgs {
		width: 162rpx;
		height: 162rpx;
		border-radius: 16rpx;
	}

	.bg-white {
		background: #ffffff;
	}

	.footButton {
		padding-bottom: 11px !important;
		justify-content: space-between;
		font-size: 26rpx;
		color: #999999;

		.amount {
			display: flex;
			align-items: center;
			color: $theme-color;
		}
	}

	.submitBtnStyle {
		color: #fff;
		width: 216rpx;
		height: 68rpx;
		border-radius: 12rpx;
	}

	/*常见样式, 对于uview的内置样式的不足的补全以及通用样式的补充*/
	.y-position-fixed {
		position: fixed;
	}

	.y-top-0 {
		top: 0;
	}

	.y-bottom-0 {
		bottom: 0;
	}

	.y-left-0 {
		left: 0;
	}

	.y-right-0 {
		right: 0;
	}

	.y-flex-column {
		flex-direction: column !important;
	}

	.y-w-100 {
		width: 100%;
	}

	/*系统状态栏高度*/
	.y-system-height {
		height: var(--status-bar-height);
	}

	.y-justify-end {
		justify-content: flex-end;
	}

	.y-align-center {
		align-items: center;
	}

	.y-align-start {
		align-items: flex-start;
	}

	.y-align-end {
		align-items: flex-end;
	}

	.y-flex {
		display: flex;
	}

	.y-flex-column {
		flex-direction: column;
	}

	.y-flex-1 {
		flex: 1;
	}

	.y-justify-start {
		justify-content: flex-start;
	}

	.y-justify-end {
		justify-content: flex-end;
	}

	.y-justify-around {
		justify-content: space-around;
	}

	.y-justify-between {
		justify-content: space-between;
	}

	.y-weight-bold {
		font-weight: bold;
	}

	.y-border-bottom {
		border-bottom: 1rpx solid rgba($color: #707070, $alpha: 0.12);
	}

	.color-price {
		color: $theme-color;
		font-size: 32rpx;
	}

	::v-deep {
		.goods-item {
			margin-left: 10px;
		}
	}

	.popupBox2 {
		::v-deep {
			.uicon-close {
				font-size: 22px !important;
			}
		}

		.title {
			width: 100%;
			text-align: center;

			font-size: 32rpx;
			font-family: PingFangSC-Semibold, PingFang SC;
			font-weight: 600;
			color: #222222;
		}

		.amountDetail {
			max-height: 60vh;
			overflow: auto;
			margin-bottom: 100rpx;

			.amountItemList {
				padding: 0 24rpx;
				// background: #fff;
				border-bottom: 20rpx solid #f6f6f6;

				.amountItem {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 20rpx 0;

					.leftKey {
						font-size: 24rpx;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: 400;
						color: #585858;
					}

					.rightVal {
						font-size: 24rpx;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: 400;
						color: #222222;
					}
				}
			}

			.amountItemList:last-child {
				border-bottom: 0;
			}
		}
	}

	.store-single {
		// border-top: 10rpx solid #f6f6f6;
	}
</style>