<template>
	<div :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>报名成功</commonTop>
		<view class="box">
			<uv-image width="160rpx" height="160rpx" src="./static/images/account/pic_tick@2x.png"
				class="img"></uv-image>
			<text class="title">报名成功</text>
		</view>
		<view class="btnBox">
			<view class="btn seeOrder" @click="goTo(1)"> 查看订单 </view>
			<view class="btn continue" @click="goTo(0)"> 继续报名 </view>
		</view>
	</div>
</template>
<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		methods: {
			goTo(currentTab) {
				uni.redirectTo({
					url: "/pagesA/trainingCenter/trainingWill/list?currentTab=" + currentTab
				})
			}
		}
	};
</script>
<style lang="scss" scoped>
	.box {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.img {
		margin-top: 160rpx;
		// margin:130rpx auto;
	}

	.title {
		font-family: MicrosoftYaHei;
		font-size: 30rpx;
		color: #3b3b3b;
		line-height: 40rpx;
		margin-top: 40rpx;
	}

	.btnBox {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-top: 90rpx;
		padding: 0 60rpx;

		.btn {
			width: 264rpx;
			height: 64rpx;
			border-radius: 65rpx;
			border: 2rpx solid $theme-color;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.seeOrder {
			color: $theme-color;
		}

		.continue {
			color: #fff;
			background-color: $theme-color;
		}
	}
</style>