<template>
  <view class="container" :style="this.$store.state.theme.presentTheme">
    <u-popup
      :show="show"
      mode="center"
      :round="10"
      :closeOnClickOverlay="false"
      @close="close"
      @open="open"
    >
      <view class="popupBox">
        <view class="topName">
          <view class="title">{{ $t("bindingPhone.title") }}</view>
          <view class="info">{{ $t("bindingPhone.info") }}</view>
        </view>
        <form :report-submit="true" @submit="formLoginPassword">
          <view class="formBox">
            <u--input
              border="bottom"
              v-model="mobile"
              type="number"
              maxlength="11"
              :placeholder="$t('register.PleaseEnterPhone')"
              :clearable="true"
            >
              <template slot="prefix">
                <view class="areaCodeBox" @click="openup">
                  <view class="code">{{ phoneRegion }}</view>
                  <u-icon :size="20" name="arrow-down-fill"></u-icon>
                </view>
              </template>
            </u--input>
            <u--input
              border="bottom"
              v-model="verificationCode"
              :placeholder="$t('login.enterConfirmationCode')"
              :clearable="true"
            >
              <template slot="suffix">
                <view class="verificationCodeBox">
                  <uv-button
                    @click="btnSend"
                    :disabled="disabled"
                    :hairline="false"
                    class="codeBtn"
                    >{{
                      disabled ? btnText : $t("login.getVerificationCode")
                    }}</uv-button
                  >
                </view>
              </template>
            </u--input>
          </view>
          <view class="footBtn">
            <uv-button
              class="loginBtn"
              form-type="submit"
              :text="$t('bindingPhone.bindNow')"
            ></uv-button>
            <view class="logInAgain" @click="logOut">
            {{$t("bindingPhone.logInAgain")}}
          </view>
          </view>
         
          <!-- 区号选择弹窗 -->
          <uni-popup ref="popup" type="bottom" background-color="#fff">
            <div class="picker-title">
              <div class="picker-cancel" @click="cancelEvent">
                {{ $t("register.Cancel") }}
              </div>
              <div class="picker-confrim" @click="confrimEvent">
                {{ $t("register.Confirm") }}
              </div>
            </div>
            <picker-view
              :value="areaCode"
              @change="bindChange"
              class="picker-view"
            >
              <picker-view-column>
                <view
                  class="item"
                  v-for="(item, index) in countryList"
                  :key="index"
                  >{{ item.text }}</view
                >
              </picker-view-column>
            </picker-view>
          </uni-popup>
        </form>
      </view>
    </u-popup>
    <uv-toast ref="toast"></uv-toast>
  </view>
</template>
<script>
import form from "@/components/tui-validation/tui-validation.js";
export default {
  props: {
    showFlag: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  data() {
    return {
      show: this.showFlag,

      mobile: "",
      verificationCode: "",

      areaCode: [0],
      phoneRegion: "",
      RegionIndex: 0,
      countryList: [],

      btnText: "",
      disabled: false,
    };
  },
  mounted() {
    this.smsRegionFn();
  },
  methods: {
    formLoginPassword(e) {
      let mobile = e.detail.value.mobile || this.mobile;
      let verificationCode =
        e.detail.value.verificationCode || this.verificationCode;
      let rules = [
        {
          name: "mobile",
          rule: ["required", "maxLength:11"],
          msg: [
            this.$t("register.PleaseEnterPhone"),
            this.$t("register.PleaseEnterPhoneCorrect"),
          ],
        },
        {
          name: "verificationCode",
          rule: ["required"],
          msg: [this.$t("login.enterConfirmationCode")],
        },
      ];
      let formData = {
        mobile: mobile,
        verificationCode: verificationCode,
      };
      //进行表单检查
      let checkRes = form.validation(formData, rules);
      if (checkRes) {
        this.$refs.toast.show({
					message: checkRes,
					duration: 2000
				})
        return;
      }
      this.changePhoneFn(formData);
    },
    // 绑定手机号
    changePhoneFn(formData) {
      let param = {
        region: this.phoneRegion,
        phone: formData.mobile,
        captchaCode: this.verificationCode,
      };
      this.$api.changePhone(param).then((res) => {
        console.log("res:绑定手机号==> ", res);
        if (res !== undefined) {
        
          this.$refs.toast.show({
					message: "ok",
					duration: 2000
				})
          this.$emit("changShowFlag", false);
        }
      });
    },
    //获取验证码
    btnSend: function () {
      let rules = [
        {
          name: "mobile",
          // rule: ["required", "isMobile"],
          // msg: [this.$t("register.PleaseEnterPhone"),this.$t("register.PleaseEnterPhoneCorrect")],
          rule: ["required", "maxLength:11"],
          msg: [
            this.$t("register.PleaseEnterPhone"),
            this.$t("register.PleaseEnterPhoneCorrect"),
          ],
        },
      ];
      //进行表单检查
      let formData = {
        mobile: this.mobile,
      };
      let checkRes = form.validation(formData, rules);
      if (!checkRes) {
        this.getSmsCaptcha();
      } else {
        this.$refs.toast.show({
					message: checkRes,
					duration: 2000
				})
      }
    },
    doLoop(seconds) {
      seconds = seconds ? seconds : 60;
      this.btnText = seconds + "s";
      //   this.code = code;
      let countdown = setInterval(() => {
        if (seconds > 0) {
          this.btnText = seconds + "s";
          --seconds;
        } else {
          //   this.btnText = this.$t("login.getVerificationCode");
          this.disabled = false;
          clearInterval(countdown);
        }
      }, 1000);
    },
    // 获取验证码
    getSmsCaptcha() {
      uni.showLoading({ mask: true });
      let param = {
        type: 3, //-- 场景 0 登录，1 注册，2 重置密码 3 修改或绑定手机号
        phoneRegion: this.phoneRegion,
        phone: this.mobile,
      };
     this.$api.smsCaptcha(param).then((res) => {
        if (res !== undefined) {
          uni.hideLoading();
          setTimeout(() => {
            this.disabled = true;
            this.doLoop(60);
          }, 500);
        }
      });
    },
    //  获取区号
    smsRegionFn() {
      this.$api.smsRegion().then((res) => {
        console.log("res: ", res);
        if (res) {
          // 区号数据初始化
          let newCountryList = res.map((res, index) => {
            return {
              text: `${res.regionName} ${res.phoneRegion}`,
              value: res.phoneRegion,
            };
          });
          this.countryList = newCountryList;
          this.phoneRegion = this.countryList[this.RegionIndex].value;
        }
      });
    },
    // 退出登录
    logOut() {
      this.$store.dispatch("logout").then(() => {
        this.$refs.toast.show({
					message: "ok",
					duration: 2000
				})
        
        setTimeout(() => {
          uni.reLaunch({
            url: "/pages/login/login",
          });
        }, 200);
      });
    },
    // 区号弹窗
    openup() {
      this.$refs.popup.open();
    },
    // 区号选择回调
    bindChange(e) {
      console.log("bindChange", e);
      this.RegionIndex = e.detail.value[0];
      console.log("this.RegionIndex: ", this.RegionIndex);
    },
    // 区号关闭
    cancelEvent() {
      this.$refs.popup.close();
    },
    // 区号选择
    confrimEvent() {
      console.log(this.countryList[this.RegionIndex].value);
      this.phoneRegion = this.countryList[this.RegionIndex].value;
      this.areaCode = [this.RegionIndex];
      this.$refs.popup.close();
    },
    close() {
      this.show = false;
    },
    open() {
      this.show = true;
    },
  },
};
</script>
<style lang="scss" scoped>
.popupBox {
  background: linear-gradient(180deg, #f8f0f0 0%, #ffffff 100%);
  // border-radius: 12rpx;
  width: 680rpx;
}
.topName {
  width: 95%;
  margin: 0 auto;
  padding: 60rpx 0 20rpx 0rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 36rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #222222;
  line-height: 50rpx;
  text-align: center;
  .info {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 40rpx;
    margin-top: 8rpx;
  }
}
.formBox {
  padding: 40rpx;
  .areaCodeBox {
    display: flex;
    font-size: 30rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #d2d2d2;
    .code {
      margin-right: 6rpx;
    }
  }
  .verificationCodeBox {
    border-left: 2rpx solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rpx 20rpx;
    // margin-left: 20rpx;
    position: relative;
    left: 30rpx;
    .codeBtn {
      font-size: 24rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: $theme-color;
      border: 0;
      //   display: inline-block;
      height: 45rpx;
      padding: 0;
      //   margin-right: -10rpx;
    }
  }
}
.footBtn {
  padding: 40rpx 60rpx 60rpx 60rpx;
  text-align: right;
  .loginBtn {
    height: 88rpx;
    background: $theme-color;
    border-radius: 12rpx;
    color: #fff;
  }
  .logInAgain{
    color:$theme-color;
    font-size: 24rpx;
    margin-top: 20rpx;
  }
}
picker-view {
  width: 100%;
  height: 500rpx;
  margin-top: 20rpx;
}
.picker-view .item {
  // line-height: 100rpx;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.picker-title {
  height: 100rpx;
  line-height: 100rpx;
  display: flex;
  justify-content: space-between;
  padding: 0 20rpx;
  box-sizing: border-box;
  .picker-cancel {
    color: #666;
    padding: 0 20rpx;
  }
  .picker-confrim {
    color: $theme-color;
    padding: 0 20rpx;
  }
}
::v-deep {
  .uv-button--active:before {
    opacity: 0;
  }
  .uni-input-placeholder {
    font-size: 24rpx;
  }
}
</style>