<template>
	<view class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :show='true'>{{ $t('pages.login') }}</commonTop>
		<view class="topBg">
			<image src="@/static/images/login/logoBg.png"></image>
		</view>
		<view class="navTab">
			<Vtabs :fixed="true" v-model="currentTab" :tabs="[
				{
					name: $t('login.PasswordLogin'),
					id: 1,
				},
				{
					name: $t('login.VerificationCodeLogin'),
					id: 2,
				},
			]" field="name" :scroll="false" :lineScale="0.2" :bold="false" :footPlaceholder="false" height="100rpx"
				lineHeight="4rpx">
			</Vtabs>
		</view>
		<form :report-submit="true" @submit="formLoginPassword">
			<view class="formBox">
				<!-- 密码登录 -->
				<template v-if="currentTab == 0">

					<uv-input :placeholder="$t('login.usernameInput')" customStyle='marginBottom:60rpx' border="bottom"
						v-model="username" clearable></uv-input>
					<uv-input border="bottom" v-model="password" :placeholder="$t('login.passwordInput')"
						type="password" clearable></uv-input>

				</template>
				<!-- 验证码登录 -->
				<template v-else>
					<view class="ipt-row">
						<uv-input border="bottom" v-model="mobile" custom-style="padding-left: 100rpx" type="number"
							maxlength="11" :placeholder="$t('register.PleaseEnterPhone')" clearable>
						</uv-input>
						<view class="areaCodeBox" @click="openup">
							<view class="code">{{ phoneRegion }}</view>
							<uv-icon :size="18" name="arrow-down-fill"></uv-icon>
						</view>
					</view>
					<view class="ipt-row">
						<uv-input border="bottom" v-model="verificationCode"
							:placeholder="$t('login.enterConfirmationCode')" clearable maxlength="6" type="number">
						</uv-input>
						<view class="verificationCodeBox">
							<view @click="btnSend" :disabled="disabled" class="codeBtn">{{
								disabled ? btnText : $t("login.getVerificationCode")
							}}</view>
						</view>
					</view>
				</template>
			</view>
			<view class="instuctions">
				<template v-if="currentTab == 0">
					<view @tap="protocol(1)">{{ $t("login.forgetThePassword") }}？</view>
				</template>
				<template v-else>
					<view @click="showModel">
						{{ $t("register.nodeVerificationCode") }}
					</view>
				</template>
			</view>
			<view class="footBtn">
				<button class="loginBtn" form-type="submit">{{ $t('login.title') }}</button>
			</view>
		</form>
		<view class="tui-protocol" hover-class="opcity" :hover-stay-time="150">
			{{ $t("login.NoAccountYet") }}
			<text class="info" @tap="protocol()"> {{ $t("login.RegisterNow") }}</text>
		</view>

		<!-- 区号选择弹窗 -->
		<uv-popup ref="popup" mode="bottom" background-color="#fff">
			<view class="picker-title">
				<view class="picker-cancel" @click="cancelEvent">
					{{ $t("register.Cancel") }}
				</view>
				<view class="picker-confrim" @click="confrimEvent">
					{{ $t("register.Confirm") }}
				</view>
			</view>
			<picker-view :value="areaCode" @change="bindChange" class="picker-view">
				<picker-view-column>
					<view class="item" v-for="(item, index) in countryList" :key="index">{{ item.text }}</view>
				</picker-view-column>
			</picker-view>
		</uv-popup>
		<!-- 切换语言 -->
		<LangSwitch></LangSwitch>
		<view class="originFlag" v-if="originFlag" @click="originNameFn">切换到{{ originName }}</view>
		<uv-toast ref="toast"></uv-toast>
	</view>
</template>
<script>
	import {
		mapMutations
	} from "vuex";
	import form from "@/components/tui-validation/tui-validation.js";
	import LangSwitch from "@/components/LangSwitch/LangSwitch";
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	import Vtabs from '@/components/v-tabs/components/v-tabs/v-tabs.vue'
	import {
		getloginToken,
		smsRegion,
		smsCaptcha,
		tokenAuthCheck,
	} from '../../config/vmeitime-http/index.js'

	export default {
		components: {
			LangSwitch,
			commonTop,
			Vtabs
		},
		data() {
			return {
				currentTab: 0,
				tabList: [],
				username: "", //"hechun1984",
				password: "", //"123456",
				mobile: "",
				verificationCode: "",

				areaCode: [0],
				phoneRegion: "",
				RegionIndex: 0,
				countryList: [],

				originFlag: false,
				btnText: "",
				disabled: false,

				isWeixin: false,
				urlH: process.env.NODE_ENV == "development" ? "/#" : "/H5/index.html#",
			};
		},
		computed: {
			originName() {
				let info = this.$store.getters.xTenant == "mml" ? "国内" : "马来西亚";
				return info;
			},
		},
		onLoad(options) {
			let access_token = this.$store.getters.loginToken?.access_token;
			// toke未失效自动登录
			if (access_token) {
				this.tokenAuthCheckFn(access_token);
			}
		},
		mounted() {
			let loginAccount = storage.get("loginAccount");
			if (loginAccount) {
				this.username = loginAccount.username;
				this.password = loginAccount.password;
			}

			// 初始化配置项
			this.$store.dispatch("settingGeneralFn");

			//  本地测试环境下展示切换环境按钮
			//this.originFlag = window.location.origin.includes("192.168");

			setTimeout(() => {
				this.smsRegionFn();
			}, 100);

			// console.log("this.countryList: ", this.countryList);
		},
		methods: {
			...mapMutations(["LOGIN_TOKEN", "SET_MONEYMARK", "X_TENANT"]),
			showModel() {
				this.$store.commit("NO_VCODE_MODAL", this);
			},
			//校验token是否失效
			tokenAuthCheckFn(access_token) {
				let that = this
				let param = {
					token: access_token,
				};
				tokenAuthCheck(param).then((res) => {
					if (res && res.code === 200) {
						uni.showLoading({
							title: this.$t("login.AutomaticallyLoggingIn"),
							mask: true,
						});
						setTimeout(() => {
							uni.hideLoading();
							uni.reLaunch({
								url: "/pages/user/index",
							});
						}, 1500);
					}
				});
			},
			//本地测试切换
			originNameFn() {
				let res = this.$store.getters.xTenant == "mml" ? "" : "mml";
				this.X_TENANT(res);
				this.$store.dispatch("settingGeneralFn");
				this.smsRegionFn();
			},
			//密码账号登录
			formLoginPassword(e) {
				let username = e.detail.value.username || this.username;
				let password = e.detail.value.password || this.password;
				let mobile = e.detail.value.mobile || this.mobile;
				let verificationCode =
					e.detail.value.verificationCode || this.verificationCode;
				let rules = [];
				let formData = {};

				if (this.currentTab == 1) {
					//验证码登录校验
					rules = [{
							name: "mobile",
							rule: ["required", "maxLength:11"],
							msg: [
								this.$t("register.PleaseEnterPhone"),
								this.$t("register.PleaseEnterPhoneCorrect"),
							],
						},
						{
							name: "verificationCode",
							rule: ["required"],
							msg: [this.$t("login.enterConfirmationCode")],
						},
					];

					formData = {
						mobile: mobile,
						verificationCode: verificationCode,
					};
				} else {
					//密码登录校验
					rules = [{
							name: "username",
							rule: ["required"],
							msg: [this.$t("login.usernameInput")],
						},
						{
							name: "password",
							rule: ["required"],
							msg: [this.$t("login.passwordInput")],
						},
					];
					formData = {
						username: username,
						password: password,
					};
				}
				//进行表单检查
				let checkRes = form.validation(formData, rules);
				if (checkRes) {
					this.$refs.toast.show({
						type: 'default',
						message: checkRes
					})
					return;
				}
				this.loginFn(formData);
			},

			// 账号密码登录
			loginFn(formData) {
				let param = {};
				if (this.currentTab == 1) {
					param = {
						clientId: "wechat",
						clientSecret: "wechat_secret",
						scope: "front",
						grantType: "sms",
						phoneNumber: formData.mobile,
						phoneRegion: this.phoneRegion,
						captchaCode: formData.verificationCode,
					};
				} else {
					param = {
						...formData,
						clientId: "wechat",
						clientSecret: "wechat_secret",
						grantType: "password",
						scope: "front",
					};
				}
				uni.showLoading({
					mask: true
				});
				getloginToken(param).then((res) => {
					if (res) {
						this.loginSuccFn(formData, res);
					}
					uni.hideLoading();
				});
			},

			// 登录成功后的token以及用户数据获取以及跳转
			loginSuccFn(formData, res) {
				storage.set("loginAccount", formData);
				this.LOGIN_TOKEN(res);
				this.$store.dispatch("getUserInfo").then(() => {
					this.$refs.toast.show({
						message: this.$t("login.loginSucc"),
						duration: 2000,
						type: 'default'
					})
					setTimeout(() => {
						uni.reLaunch({
							url: "/pages/user/index",
						});
					}, 200);
				});
			},

			//获取验证码
			btnSend: function() {
				let rules = [{
					name: "mobile",
					rule: ["required", "maxLength:11"],
					msg: [
						this.$t("register.PleaseEnterPhone"),
						this.$t("register.PleaseEnterPhoneCorrect"),
					],
				}];
				//进行表单检查
				let formData = {
					mobile: this.mobile,
				};
				let checkRes = form.validation(formData, rules);
				if (!checkRes) {
					this.getSmsCaptcha();
				} else {
					this.$refs.toast.show({
						message: checkRes,
						type: 'default'
					})
				}
			},

			doLoop(seconds) {
				seconds = seconds ? seconds : 60;
				this.btnText = seconds + "s";
				//   this.code = code;
				let countdown = setInterval(() => {
					if (seconds > 0) {
						this.btnText = seconds + "s";
						--seconds;
					} else {
						this.disabled = false;
						clearInterval(countdown);
					}
				}, 1000);
			},

			// 获取验证码
			getSmsCaptcha() {
				uni.showLoading({
					mask: true
				});
				let param = {
					type: 0, //-- 场景 0 登录，1 注册，2 重置密码
					phoneRegion: this.phoneRegion,
					phone: this.mobile,
				};
				smsCaptcha(param).then((res) => {
					if (res !== undefined) {
						uni.hideLoading();
						setTimeout(() => {
							this.disabled = true;
							this.doLoop(60);
						}, 500);
					}
				});
			},

			//  获取区号
			smsRegionFn() {
				smsRegion().then((res) => {
					if (res) {
						// 区号数据初始化
						let newCountryList = res?.map((res, index) => {
							return {
								text: `${res.regionName} ${res.phoneRegion}`,
								value: res.phoneRegion,
							};
						});
						this.countryList = newCountryList;
						this.phoneRegion = this.countryList[this.RegionIndex].value;
					}
				});
			},
			// 区号弹窗
			openup() {
				this.$refs.popup.open();
			},
			// 区号选择回调
			bindChange(e) {
				console.log("bindChange", e);
				this.RegionIndex = e.detail.value[0];
			},
			// 区号关闭
			cancelEvent() {
				this.$refs.popup.close();
			},
			// 区号选择
			confrimEvent() {
				this.phoneRegion = this.countryList[this.RegionIndex].value;
				this.areaCode = [this.RegionIndex];
				this.$refs.popup.close();
			},

			protocol(type = null) {
				let url = "/pages/login/registers";
				if (type) {
					url = "/pages/login/registers?currentType=" + type;
				}
				uni.navigateTo({
					url: url,
				});
			}
		},
	};
</script>
<style lang="scss" scoped>
	.ipt-row {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 62rpx;
		}
	}

	.topBg {
		width: 100%;
		display: flex;
		justify-content: center;

		image {
			width: 100%;
			height: 198rpx;
		}
	}

	.formBox {
		padding: 40rpx;

		.areaCodeBox {
			display: flex;
			font-size: 30rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #d2d2d2;
			position: absolute;
			left: 0px;
			bottom: 18rpx;
			margin: auto;

			.code {
				margin-right: 6rpx;
			}
		}

		.verificationCodeBox {
			border-left: 2rpx solid #d8d8d8;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10rpx 20rpx;
			position: absolute;
			top: 0px;
			bottom: 6px;
			right: 0px;
			width: 150rpx;
			z-index: 9;

			.codeBtn {
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #B41701;
				border: 0;
				line-height: 56rpx;
				height: 56rpx;
				padding: 0 10rpx;
			}
		}
	}

	.instuctions {
		text-align: right;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #222222;
		padding-right: 52rpx;
	}

	::v-deep.footBtn {
		padding: 80rpx 52rpx 0 52rpx;

		// background:red;
		.loginBtn {
			height: 80rpx;
			line-height: 80rpx;
			background: #B41701 !important;
			border-radius: 12rpx;
			color: #fff;
			font-size: 28rpx;
		}
	}

	picker-view {
		width: 100%;
		height: 500rpx;
		margin-top: 20rpx;
	}

	.picker-view .item {
		// line-height: 100rpx;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.picker-title {
		height: 100rpx;
		line-height: 100rpx;
		display: flex;
		justify-content: space-between;
		padding: 0 20rpx;
		box-sizing: border-box;

		.picker-cancel {
			color: #666;
			padding: 0 20rpx;
		}

		.picker-confrim {
			color: #B41701;
			padding: 0 20rpx;
		}
	}

	.tui-protocol {
		color: #333;
		font-size: 24rpx;
		text-align: center;
		width: 100%;
		margin-top: 29rpx;
	}

	.tui-protocol-red {
		color: #B41701;
	}

	.tui-button-primary {
		background-color: #B41701;
		color: #fff;
	}

	.info {
		color: #B41701;
		margin-left: 5px;
	}

	.weixin {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// position: fixed;
		// bottom: 60rpx;
		// width: 100%;
		margin-top: 10%;

		.weixinInfo {
			font-size: 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #666666;
			line-height: 34rpx;
		}
	}

	::v-deep {
		.active {
			font-weight: 600 !important;
		}

		.v-tabs__container-line.animation {
			background-color: #B41701 !important;
			top: 110rpx;
		}

		.v-tabs__container-item {
			font-size: 32rpx !important;
			color: #2e2e2e !important;
		}

		.u-input:not(:last-child) {
			margin-bottom: 60rpx;
		}

		.LangSwitchBox {
			color: #606266;
			border: 1px solid #606266;
		}

		uni-scroll-view {
			z-index: 99 !important;
		}

		.button--active:before {
			opacity: 0;
		}

		.uni-input-placeholder {
			font-size: 24rpx;
		}
	}

	.originFlag {
		position: fixed;
		bottom: 20rpx;
		right: 10rpx;
		font-size: 20rpx;
	}
</style>