<template>
	<div class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :show='true'>{{ title }}</commonTop>
		<view class="topName">
			<!-- 验证手机号 -->
			<template v-if="currentType">
				<view class="title">{{ $t("login.VerifyMobileNumber") }}</view>
				<view class="info">{{ $t("login.VerifyMobileNumberInfo") }}</view>
			</template>
			<!-- 请先注册 -->
			<template v-else>
				<view class="title">{{ $t("login.PleaseRegisterFirst") }}</view>
				<view class="info">{{ $t("login.PleaseRegisterFirstInfo") }}</view>
			</template>
		</view>
		<form :report-submit="true" @submit="formLoginPassword">
			<view class="formBox">
				<view class="ipt-row">
					<uv-input border="bottom" custom-style="padding-left: 100rpx" v-model="mobile" type="number"
						maxlength="11" :placeholder="$t('register.PleaseEnterPhone')" :clearable="true">
					</uv-input>
					<view class="areaCodeBox" @click="openup">
						<view class="code">{{ phoneRegion }}</view>
						<uv-icon :size="14" name="arrow-down-fill"></uv-icon>
					</view>
				</view>
				<view class="ipt-row">
					<uv-input border="bottom" v-model="verificationCode"
						:placeholder="$t('login.enterConfirmationCode')" :clearable="true">
					</uv-input>
					<view class="verificationCodeBox">
						<view @click="btnSend" :disabled="disabled" class="codeBtn">{{
              disabled ? btnText : $t("login.getVerificationCode")
            }}</view>
					</view>
				</view>
				<uv-input border="bottom" v-model="password" maxlength="20" :placeholder="$t('login.usernameInputNote')"
					:clearable="true"></uv-input>
			</view>
			<view class="instuctions" @click="showModel">
				{{ $t("register.nodeVerificationCode") }}
			</view>
			<view class="footBtn">
				<button class="loginBtn" form-type="submit">{{ currentType ? $t('login.CompleteLogIn') : $t('login.register')
        }}</button>
			</view>
		</form>
		<view class="tui-protocol" hover-class="opcity" :hover-stay-time="150">
			{{ $t("login.ExistingAccount") }}
			<text class="SignInfo" @tap="protocol"> {{ $t("login.SignInNow") }}</text>
		</view>
		<!-- 区号选择弹窗 -->
		<uv-popup ref="popup" mode="bottom" background-color="#fff">
			<div class="picker-title">
				<div class="picker-cancel" @click="cancelEvent">
					{{ $t("register.Cancel") }}
				</div>
				<div class="picker-confrim" @click="confrimEvent">
					{{ $t("register.Confirm") }}
				</div>
			</div>
			<picker-view :value="areaCode" @change="bindChange" class="picker-view">
				<picker-view-column>
					<view class="item" v-for="(item, index) in countryList" :key="index">{{ item.text }}</view>
				</picker-view-column>
			</picker-view>
		</uv-popup>
		<!-- 切换语言 -->
		<LangSwitch></LangSwitch>
		<uv-toast ref="toast"></uv-toast>
	</div>
</template>
<script>
	import {
		mapMutations
	} from "vuex";
	import form from "@/components/tui-validation/tui-validation.js";
	import LangSwitch from "@/components/LangSwitch/LangSwitch";
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	import {
		customerRegister,
		getloginToken,
		smsRegion,
		smsCaptcha,
		passwordReset,
		inviteParamsByToken,
		registerByInvite
	} from '../../config/vmeitime-http/index.js'

	export default {
		components: {
			commonTop
		},
		data() {
			return {
				title: this.$t("login.register"),
				currentType: null,

				mobile: "",
				verificationCode: "",
				password: "",

				areaCode: [0],
				phoneRegion: "",
				RegionIndex: 0,
				countryList: [],

				btnText: "",
				disabled: false,

				token: null,
				invitorSource: "",
				invitorId: "",
				levelBusinessData: null,
				formData: {},
				showLogin: true
			};
		},
		onLoad(options) {
			console.log("options: ", options);
			if (options.token) {
				this.token = options.token;
				this.showLogin = false
				this.inviteParamsByTokenFn(options.token);
			}

			if (options.currentType) {
				this.currentType = options.currentType;
				// console.log("this.currentType: ", this.currentType);
			}
		},
		watch: {
			currentType(newVal, oldVal) {
				console.log("newVal: ", newVal);
				let title;
				if (newVal == 1) {
					title = this.$t("login.forgetThePassword");
				} else {
					title = this.$t("login.register");
				}

				// uni.setNavigationBarTitle({ title: title });
				this.$nextTick(() => {
					this.title = title;
					console.log(" this.title: ", this.title);
				});
			},
		},
		mounted() {
			// 初始化配置项
			this.$store.dispatch("settingGeneralFn");

			setTimeout(() => {
				this.smsRegionFn();
			}, 100);
		},
		methods: {
			...mapMutations(["LOGIN_TOKEN", "STORE_LEVEDATA"]),
			showModel() {
				this.$store.commit("NO_VCODE_MODAL", this);
			},
			// 注册校验
			formLoginPassword(e) {
				let mobile = e.detail.value.mobile || this.mobile;
				let verificationCode =
					e.detail.value.verificationCode || this.verificationCode;
				let password = this.password;

				let rules = [{
						name: "mobile",
						rule: ["required", "maxLength:11"],
						msg: [
							this.$t("register.PleaseEnterPhone"),
							this.$t("register.PleaseEnterPhoneCorrect"),
						],
					},
					{
						name: "verificationCode",
						rule: ["required"],
						msg: [this.$t("login.enterConfirmationCode")],
					},
					{
						name: "password",
						rule: ["required", "isUsernameFormat"],
						msg: [
							this.$t("login.passwordInput"),
							this.$t("login.usernameInputNote"),
						],
					},
				];
				let formData = {
					mobile: mobile,
					verificationCode: verificationCode,
					password: password,
				};
				//进行表单检查
				let checkRes = form.validation(formData, rules);

				if (checkRes) {
					this.$refs.toast.show({
						message: checkRes,
						duration: 2000
					})
					return;
				}
				console.log("formData: ", formData);
				this.currentType ?
					this.passwordResetFn(formData) :
					this.customerRegisterFn(formData);
			},

			// 重置密码
			passwordResetFn(formData) {
				let param = {
					// account: formData.username,
					phoneRegion: this.phoneRegion,
					phoneNumber: formData.mobile,
					captchaCode: this.verificationCode,
					password: formData.password,
				};
				passwordReset(param).then((res) => {
					if (res) {
						this.$refs.toast.show({
							message: this.$t("login.PasswordResetSuccessful"),
							duration: 2000
						})
						storage.set("loginAccount", "");
						setTimeout(() => {
							this.protocol();
						}, 2000);
					}
				});
			},

			// 注册以及邀请注册
			customerRegisterFn(formData) {
				let inviteData = storage.get("inviteData");
				let API = customerRegister;
				console.log("inviteData: ", inviteData);
				let param = {
					account: formData.username,
					phoneRegion: this.phoneRegion,
					phoneNumber: formData.mobile,
					captchaCode: formData.verificationCode,
					password: formData.password,
					// invitorSource: this.invitorSource || inviteData.invitorSource || "",
					// invitorId: this.invitorId || inviteData.invitorId || "",
				};
				if (this.token) {
					param.token = this.token;
					API = registerByInvite;
				}
				this.formData = param;
				// console.log("param: ", param);
				API(param).then((res) => {
					// console.log("res: ", res);
					this.$store.dispatch("logout", 'STORE_LEVEDATA'); //注册成功清除所有缓存
					if (res.code == 200) {
						if (this.invitorId || inviteData.invitorId) {
							//如果有邀请id，注册成功后直接登录跳转到等级申请页面
							this.goToInviteFn(res.data);
						} else {
							this.$refs.toast.show({
								message: this.$t("login.registerSucc"),
								duration: 2000
							})

							setTimeout(() => {
								storage.remove("inviteData");
								this.protocol();
							}, 2000);
						}
					}
				});
			},

			// 获取邀请链接参数
			inviteParamsByTokenFn(token) {
				let param = {
					token: token,
				};
				// console.log("param: ", param);
				inviteParamsByToken({
					params: param
				}).then((res) => {
					console.log('res: ', res);
					if (res.code == 200) {
						this.invitorSource = res.data.invitorSource;
						this.invitorId = res.data.invitorId;
						this.levelBusinessData = res.data;
						console.log("this.levelBusinessData : ", this.levelBusinessData);
						let levelBusinessData = {
							...res.data
							// levelId: res.data.levelId,
							// levelName: res.data.levelName,
							// levelNo: res.data.levelNo,
							// levelType: res.data.levelType,
							// brandId:res.data.brandId[0],
							// brandName:res.data.brandList[0].brandName,
							// authorizationCode:res.data.authorizationCode
						};
						storage.set("inviteData", {
							invitorSource: this.invitorSource,
							invitorId: this.invitorId,
							levelBusinessData: levelBusinessData, // JSON.stringify(levelBusinessData),
						});


						// this.goToInviteFn();

						// let storelevelData = {
						//   storeId: res.data.storeId,
						//   storeName: res.data.storeName,
						// };

						// this.STORE_LEVEDATA(storelevelData);

						// console.log('storelevelData=========>: ', storage.get('storelevelData').storeId);
					}
				});
			},

			// 自动登录去邀请申请页面
			goToInviteFn(data) {
				let param = {
					username: data.account,
					password: this.formData.password,
					clientId: "wechat",
					clientSecret: "wechat_secret",
					grantType: "password",
					scope: "front",
				};
				console.log("param: ", param);

				getloginToken(param).then((res) => {
					// console.log("res: ", res);
					if (res) {
						this.LOGIN_TOKEN(res);
						this.$store.dispatch("getUserInfo").then(() => {
							uni.showToast({
								icon: 'none',
								title: this.$t("login.registerSuccInvite"),
								duration: 2000
							})

							let inviteData = storage.get("inviteData");
							let levelBusinessData =
								this.levelBusinessData || inviteData.levelBusinessData;
							console.log('inviteData.levelBusinessData: ', inviteData.levelBusinessData);
							console.log("levelBusinessData: ", levelBusinessData);

							setTimeout(() => {
								storage.remove("inviteData");
								uni.reLaunch({
									url: "/pages/register/register?levelBusinessData=" +
										JSON.stringify(levelBusinessData),
								});
							}, 2000);
						});
					}
				});
			},

			//获取验证码
			btnSend: function() {
				let rules = [{
					name: "mobile",
					rule: ["required", "maxLength:11"],
					msg: [
						this.$t("register.PleaseEnterPhone"),
						this.$t("register.PleaseEnterPhoneCorrect"),
					],
				}, ];
				//进行表单检查
				let formData = {
					mobile: this.mobile,
				};
				let checkRes = form.validation(formData, rules);
				if (!checkRes) {
					this.getSmsCaptcha();
				} else {
					uni.showToast({
						icon: 'none',
						title: checkRes,
						duration: 2000
					})
				}
			},
			// 下次验证码获取倒计时
			doLoop(seconds) {
				seconds = seconds ? seconds : 60;
				this.btnText = seconds + "s";
				//   this.code = code;
				let countdown = setInterval(() => {
					if (seconds > 0) {
						this.btnText = seconds + "s";
						--seconds;
					} else {
						//   this.btnText = this.$t("login.getVerificationCode");
						this.disabled = false;
						clearInterval(countdown);
					}
				}, 1000);
			},
			// 获取验证码
			getSmsCaptcha() {
				uni.showLoading({
					mask: true
				});
				let param = {
					type: this.currentType ? 2 : 1, //-- 场景 0 登录，1 注册，2 重置密码
					phoneRegion: this.phoneRegion,
					phone: this.mobile,
				};
				smsCaptcha(param).then((res) => {
					if (res !== undefined) {
						uni.hideLoading();
						setTimeout(() => {
							this.disabled = true;
							this.doLoop(60);
						}, 500);
					}
				});
			},

			// 请登录
			protocol: function() {
				uni.navigateTo({
					url: "/pages/login/login",
				});
			},

			//  获取区号
			smsRegionFn() {
				smsRegion().then((res) => {
					// console.log("res: ", res);
					if (res) {
						// 区号数据初始化
						let newCountryList = res.map((res, index) => {
							return {
								text: `${res.regionName} ${res.phoneRegion}`,
								value: res.phoneRegion,
							};
						});
						this.countryList = newCountryList;
						this.phoneRegion = this.countryList[this.RegionIndex].value;
					}
				});
			},
			// 区号弹窗
			openup() {
				this.$refs.popup.open();
			},
			// 区号选择回调
			bindChange(e) {
				// console.log("bindChange", e);
				this.RegionIndex = e.detail.value[0];
				// console.log("this.RegionIndex: ", this.RegionIndex);
			},
			// 区号关闭
			cancelEvent() {
				this.$refs.popup.close();
			},
			// 区号选择
			confrimEvent() {
				// console.log(this.countryList[this.RegionIndex].value);
				this.phoneRegion = this.countryList[this.RegionIndex].value;
				this.areaCode = [this.RegionIndex];
				this.$refs.popup.close();
			},
		},
	};
</script>
<style lang="scss" scoped>
	.topName {
		padding: 70rpx 0 40rpx 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 60rpx;
		font-family: PingFang-SC-Medium, PingFang-SC;
		font-weight: 500;
		color: #2e2e2e;
		text-align: center;

		.info {
			font-size: 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #666666;
		}
	}

	.ipt-row {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 60rpx;
		}
	}

	.formBox {
		padding: 20rpx 40rpx;

		.areaCodeBox {
			display: flex;
			font-size: 30rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #d2d2d2;
			position: absolute;
			left: 0px;
			bottom: 18rpx;
			margin: auto;

			.code {
				margin-right: 6rpx;
			}
		}

		.verificationCodeBox {
			border-left: 2rpx solid #d8d8d8;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10rpx 20rpx;
			position: absolute;
			top: 0px;
			bottom: 6px;
			right: 0px;
			width: 150rpx;
			background-color: #fff;
			z-index: 9;

			.codeBtn {
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #B41701;
				border: 0;
				line-height: 56rpx;
				height: 56rpx;
				padding: 0 10rpx;
			}
		}
	}

	.instuctions {
		text-align: right;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #222222;
		padding-right: 52rpx;
	}

	.footBtn {
		padding: 80rpx 52rpx 0 52rpx;

		.loginBtn {
			height: 80rpx;
			line-height: 80rpx;
			background: #B41701 !important;
			border-radius: 12rpx;
			color: #fff;
			font-size: 28rpx;
		}
	}

	.tui-protocol {
		color: #333;
		font-size: 24rpx;
		text-align: center;
		width: 100%;
		margin-top: 29rpx;
	}

	.tui-protocol-red {
		color: #B41701;
	}

	.tui-button-primary {
		background-color: #B41701;
		color: #fff;
	}

	.SignInfo {
		color: #B41701;
		margin-left: 5px;
	}

	picker-view {
		width: 100%;
		height: 500rpx;
		margin-top: 20rpx;
	}

	.picker-view .item {
		// line-height: 100rpx;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.picker-title {
		height: 100rpx;
		line-height: 100rpx;
		display: flex;
		justify-content: space-between;
		padding: 0 20rpx;
		box-sizing: border-box;

		.picker-cancel {
			color: #666;
			padding: 0 20rpx;
		}

		.picker-confrim {
			color: #B41701;
			padding: 0 20rpx;
		}
	}

	::v-deep {

		.u-input:not(:last-child) {
			margin-bottom: 60rpx;
		}

		.LangSwitchBox {
			color: #606266;
			border: 1px solid #606266;
		}

		uni-scroll-view {
			z-index: 99 !important;
		}

		.uv-button--active:before {
			opacity: 0;
		}

		.uni-input-placeholder {
			font-size: 24rpx;
		}
	}
</style>