<template>
  <view>
    <view class="cateBox" :style="this.$store.state.theme.presentTheme">
      <!-- 左侧列表 -->
      <!-- <scroll-view
        class="cate-left"
        scroll-y="true"
        :scroll-top="verticalNavTop"
        scroll-with-animation
      >
        <view
          class="cate-left-list"
          v-for="(item, index) in leftData"
          :key="index"
          @click="tapselect(index,item)"
        >
          <view
            class="cate-left-item"
            :class="{ activeItem: currentTab == index }"
          >
            <label></label><text  :class="{ activeItem: currentTab == index }">{{ item.title }}</text>
          </view>
        </view>
      </scroll-view> -->

      <!-- 右侧列表 -->
      <scroll-view
        class="cate-right"
        scroll-y="true"
        @scroll="mainScroll"
        :scroll-into-view="'cate-' + mainCur"
        scroll-with-animation
      >
        <!-- <v-tabs
          :fixed="true"
          v-model="currentTab"
          :tabs="leftData"
          field="brandName"
          :scroll="false"
          :lineScale="0.2"
          :bold="false"
          height="100rpx"
          lineHeight="6rpx"
          @change="changeTab"
        >
        </v-tabs> -->

        <!-- <view v-for="(item,index) in data" :key="index" :id="'cate-'+index">
					<view class="cate-right-title">
						<view class="line"></view>
						<text>{{item.navtitle}}</text>
					</view>
					<view class="cate-right-list">
						<view class="cate-right-item" v-for="(child,childindex) in item.shop" :key="childindex"
							@click="itemClick(child)">
							<image :src="child.shopimage" mode=""></image>
							<text>{{child.shoptitle}}</text>
						</view>
					</view>
				</view> -->
        <!-- <view
          style="width: 100%; padding-top: 22rpx; background: #f6f6f6"
        ></view> -->

        <view
          v-for="(item, index) in rightData"
          :key="index"
          :id="'cate-' + index"
        >
          <view class="cate-right-list" @click="goTo(item)">
            <uv-image
              class="dataListImg"
              mode="widthFix"
              :src="item.mainPicture"
              :lazy-load="true"
              width='150rpx' 
              height='150rpx' 
            ></uv-image>
            <view class="goodsDetails">
              <view class="goodsName">
                <text class="uni-ellipsis-2">{{ item.name }}</text>
              </view>
              <view class="shop-price">
                <text style="font-size: 12px">{{moneyMark}} </text>
                <text class="shop-price-text"> {{ item.retailPrice }}</text>
              </view>

              <view class="iconClass sell" @click.stop="cateItemClick(item)" v-if="item.status=='SELLING'">
                <uv-icon size="11" name="plus" color="#fff"></uv-icon>
                {{$t("goods.add")}}
              </view>
              <view class="iconClass failure" v-else>
                {{$t("goods.soldOut")}}
              </view>
            </view>
          </view>
        </view>
        <!-- <view style="height: 50rpx"></view> -->
      </scroll-view>
    </view>
  </view>
</template>

<script>
import {
		i18n
	} from '@/main.js'
export default {
  props: {
    data: {
      type: Array,
      default() {
        return [];
      },
    },

    leftData: {
      type: Array,
      default() {
        return [];
      },
    },
    rightData: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      currentTab: 0,
      mainCur: 0,
      verticalNavTop: 0,
      list: [{}],
	  moneyMark: this.$store.getters.moneyMark
    };
  },
  mounted() {},
  methods: {
    changeTab(index) {
      // console.log("changeTab: ", item);
      this.$emit("changeTab", index);
    },


    itemClick(item) {
      this.$emit("click", item);
    },

    // 选择规格回调
    cateItemClick(item){
      console.log('item: 选择规格回调', item);
      this.$emit('cateItemClick',item.id)
    },
   
    goTo(item){
      uni.navigateTo({ url: `/pages/webview/index?path=pages/goods/goodsDetail&id=${item.id}&title=${i18n.t('goods.goodsDetail')}` });
    },

    //点击左侧按钮
    tapselect(index, item) {
      console.log("index,item:点击左侧按钮 ", index, item);
      this.currentTab = index;
      //   this.mainCur = index;
      //   this.verticalNavTop = (index - 1) * 50;
    },
    //右侧滚动
    mainScroll(e) {
      let scrollTop = e.detail.scrollTop + 10;
      for (let i = 0; i < this.list.length; i++) {
        if (scrollTop > this.list[i].top && scrollTop < this.list[i].bottom) {
          this.currentTab = i;
          this.verticalNavTop = (i - 1) * 50;
          return false;
        }
      }
    },
    //获取右侧每项的top和bottom,里面需获取对应dom元素的高度，所以只能在mounted生命周期里调用
    getHeight() {
      var top = 0;
      var bottom = 0;
      var temp = 0;
      for (let i = 0; i < this.data.length; i++) {
        let view = uni.createSelectorQuery().select("#cate-" + i);
        view
          .fields(
            {
              size: true,
            },
            (data) => {
              top = temp;
              bottom = temp + data.height;
              this.list[i] = {
                top: top,
                bottom: bottom,
              };
              temp = bottom;
            }
          )
          .exec();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.cateBox {
  // position: absolute;
  // top: 0rpx;
  // bottom: 100rpx;
  background: #fff;
  width: 100%;
  display: flex;
  margin-bottom: 100rpx;
}

.cate-left {
  width: 200rpx;
  background: #f4f4f4;
  height: 100%;
}

.cate-left-item {
  background: #f4f4f4;
  height: 50px;
  display: flex;
  align-items: center;
}

.cate-left-item.activeItem {
  background: #fff;
  color: $theme-color;
}

.cate-left-item label {
  width: 4rpx;
  height: 15px;
  float: left;
  background: #f4f4f4;
}

.cate-left-item.activeItem label {
  background: $theme-color;
}

.cate-left-item text {
  width: 196rpx;
  font-size: 28rpx;
  display: block;
  text-align: center;
}

/* 右侧*/
.cate-right {
  flex: 1;
  z-index: 0 !important;
}

.cate-right-title {
  text-align: center;
  font-size: 28rpx;
  margin-top: 20rpx;
  line-height: 80rpx;
  position: relative;
}

.cate-right-title .line {
  position: absolute;
  height: 2rpx;
  width: 300rpx;
  background: orange;
  top: 39rpx;
  left: 50%;
  margin-left: -150rpx;
}

.cate-right-title text {
  background: #fff;
  padding: 0 10px;
  position: relative;
  color: #999;
}

.cate-right-list {
  height: auto;
  overflow: hidden;
  padding: 20rpx;
  display: flex;
}

.cate-right-item {
  width: 33.33%;
  float: left;
  margin-top: 20rpx;
}

.cate-right-item image {
  width: 160rpx;
  height: 160rpx;
  display: block;
  margin: 0 auto;
}

.cate-right-item text {
  display: block;
  text-align: center;
  font-size: 24rpx;
}
.dataListImg {
  // width: 150rpx !important;
  // height: 150rpx !important;
}
::v-deep {
  .uv-image__image {
    width: 150rpx !important;
    height: 150rpx !important;
  }
  .uv-image__loading {
    width: 150rpx !important;
    height: 150rpx !important;
  }
}
.goodsDetails {
  display: flex;
  flex-direction: column;
  margin-left: 10rpx;
  justify-content: space-between;
  position: relative;
  width: 100%;
  .goodsName {
    position: relative;
  }
  .shop-price {
    // font-size: 12px;
    color: $theme-color;

    font-weight: 500;
    font-size: 36rpx;
  }
  .iconClass {
    position: absolute;
    right: 0;
    bottom: 0rpx;
    width: 120rpx;
    height: 50rpx;
   
    border-radius: 12rpx;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sell{
    background: $theme-color;
  }
  .failure{
    background:#D2D2D2
  }
}
::v-deep {
  .v-tabs {
    // background-color: $theme-color !important;
    // margin-bottom: 20rpx;
    // margin-bottom-color:$bg-color
  }
  .active {
    color: $theme-color !important;
  }
  .v-tabs__container-line.animation {
    background-color: $theme-color !important;
  }
  .uni-scroll-view{
    // z-index: 99 !important;
  }
  
}
</style>