<template>
  <view
    class="container"
    :style="{
		height:config.height ? config.height*2 : defConfig.height*2 + 'rpx',
	    backgroundColor: config.bg_color ? config.bg_color : defConfig.background
    }"
  ></view>
</template>
<script>

export default {
  components: {},
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return { defConfig: "" };
  },
  created() {
    if (!this.config.height) {
      this.defConfig = {
        height: 10,
        background: "#fff",
      };
    }
  },
  watch: {},
  methods: {},
};
</script>

<style lang="scss" scoped>
</style>
