<template>
  <view
    :class="['tab-nav-container', 'show-page-animation', 
      config.listStyle.selected == 'slide-x' ? 'scroll-container' : '',
    config.isActivityGroup ? 'is-activity' : '']"
    v-if="config"
  >
    <view
      class="scroll-view"
      ref="scroll_view"
      v-if="config.listStyle.selected == 'slide-x'"
    >
      <view class="list clearfix" :style="{width:(listConWidth * 2) + 'rpx'}">
        <view
          class="item"
          v-for="(item, index) in list"
          :key="index"
          @click="goToDetail(item)"
        >
          <view class="img">
            <uv-image
              width="200rpx"
              height="200rpx"
              mode="widthFix"
              :lazy-load="true"
              :src="
                item.mainPicture
                  ? item.mainPicture + '?imageView2/2/w/400'
                  : holderImg
              "
              alt=""
            />
          </view>
          <view class="price">
            <span class="l">{{ CURRENCY }}</span
            ><span class="c">{{ item.retailPriceFloor }}</span
            ><span class="r">{{ item.retailPriceFloat }}</span>
          </view>
          <view
            class="prize"
            v-if="
              item.commission &&
              item.commission > 0 &&
              userInfo &&
              userInfo.codeInfo &&
              userInfo.codeInfo.code
            "
          >
            奖<b>{{ item.commission }}</b
            >元
          </view>
        </view>
      </view>
    </view>

    <view
      class="list-con two clearfix"
      v-else-if="
        config.listStyle.selected == 'card' ||
        config.listStyle.selected == 'two'
      "
    >
      <view class="left">
        <view class="card" v-for="(item, index) in leftList" :key="index">
          <goods-card :data="item" class="card"></goods-card>
        </view>
      </view>
      <view class="right">
        <view class="card" v-for="(item, index) in rightList" :key="index">
          <goods-card :data="item" class="card"></goods-card>
        </view>
      </view>
    </view>
    <view class="list-con clearfix" v-else>
      <view class="b" v-for="(item, index) in list" :key="index">
        <goods-card
          :data="item"
          :type="config.listStyle.selected"
          class="card"
        ></goods-card>
      </view>
    </view>

    <view class="hidden-item" ref="hidden_item"></view>
  </view>
</template>
<script>

import goodsCard from "@/components/goods-card/goods-card";

export default {
  components: {
    "goods-card": goodsCard,
  },
  props: ["config", "pageConfig", "activityInfo"],
  data() {
    return {
      holderImg: "", //require("@/assets/images/logo.png"),
      listConWidth: 1000,
      progress: 0,
      list: [],
      leftList: [],
      rightList: [],
      CURRENCY: this.$store.getters.moneyMark,
      // userInfo: null
    };
  },
  created() {},
  mounted() {
    console.log("config======>", this.config);
    this.init();
    // this.userInfo = getStorage('auth-userinfo')
    // console.log('activityInfo',this.activityInfo)
  },
  watch: {},
  methods: {
    NavPush(link, type) {
      this.$emit("onNavPush", link, type);
    },
    async init() {
      let list = [],
        leftList = [],
        rightList = [],
        goodsList = [],
        _goodsIds = this.config.goodsIds;
      // if (this.config.SkytoneCard) { //天音卡
      //   let res = await getTykGoodsDetailByIds(_goodsIds);
      //   if (res && res.length > 0) {
      //     goodsList = res;
      //    }
      // } else {
      //兼容旧的配置页面
      if (!_goodsIds && this.config.goodsDetail) {
        _goodsIds = this.config.goodsDetail.map((v) => {
          return v.id;
        });
      }
      if (_goodsIds) {
        // console.log("_goodsIds: ", _goodsIds);
        let param = {
          ids:storage.get('pageType')==9?_goodsIds: _goodsIds.join(","),
          restrictionType: "Product",
          exclude: false,
        };

        let { data, code } =storage.get('pageType')==9?await this.$api.productSearchPost(_goodsIds):  await this.$api.productSearch(param);

        if (data && data.content.length > 0) {
          // res = this.pageConfig.isO2oHome
          //   ? res // await filterO2oMengzhuProduct(res)
          //   : res;
          goodsList = data.content;
        } else {
          return;
        }
      }
      // console.log("goodsList: ", goodsList);
      // }
      goodsList.forEach((v) => {
        // console.log("v--->", v);
        if (this.config.SkytoneCard) {
          let retailPrice = v.salePrice;
          v.retailPriceFloat = ((retailPrice * 1) % 1)
            .toFixed(2)
            .replace("0.", ".");
          v.retailPriceFloor = Math.floor(retailPrice);
        } else {
          let retailPrice =
            v.items && v.items[0] && v.items[0].retailPrice
              ? v.items[0].retailPrice
              : v.retailPrice;
          v.retailPriceFloat = ((retailPrice * 1) % 1)
            .toFixed(2)
            .replace("0.", ".");
          v.retailPriceFloor = Math.floor(retailPrice) + "";
        }

        if (
          this.config.listStyle.selected == "card" ||
          this.config.listStyle.selected == "two"
        ) {
          if (leftList.length <= rightList.length) {
            leftList.push(v);
          } else {
            rightList.push(v);
          }
        } else {
          list.push(v);
        }

        //处理活动商品
        if (this.activityInfo) {
          v.activityInfo = this.activityInfo;
        }
      });

      this.list = list;
      // console.log("this.list: ", this.list);
      this.leftList = leftList;
      this.rightList = rightList;
      if (this.config.listStyle.selected == "slide-x") {
        let eleOffset = this.$refs.hidden_item,
          itemWidth = eleOffset.offsetWidth,
          itemRight = eleOffset.offsetHeight;
        this.listConWidth = this.list.length * (itemWidth + itemRight) + 6;
      }
    },
    goToDetail(item) {
      if (storage.get('pageType')==9) {
        NavPush(`/pages/goods/goodsDetail?id=${item.id}`);
      } else {
        NavPush(`/pagesA/cMall/goods/goodsDetail?id=${item.id}`);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.tab-nav-container {
  padding-top: 16rpx;
  &.scroll-container {
    padding-left: 16rpx;
    width: 710rpx;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 16rpx;
    border-radius: 16rpx;

    &.is-activity {
      border-radius: 0 0 24rpx 24rpx;
      margin-top: 0;
    }
  }
  .scroll-view {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    .list {
      padding: 16rpx 16rpx;
      padding-left: 0;
      box-sizing: content-box;
      min-width: 100vw;
      .item {
        margin-right: 16rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
        &:nth-last-child(1) {
          margin-right: 0;
        }
        .img {
          width: 200rpx;
          height: 200rpx;
          margin-bottom: 20rpx;
          border-radius: 16rpx;
          overflow: hidden;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        .price {
          color: #fff;
          line-height: 40rpx;
          padding: 0 16rpx;
          border-radius: 20rpx;
          background-color: #ea1f36;
          font-size: 20rpx;
          font-weight: bold;
          line-height: 24rpx;
          margin-bottom: 20rpx;
          .c {
            font-size: 28rpx;
            line-height: 32rpx;
            margin-left: 2rpx;
          }
        }
        .prize {
          height: 36rpx;
          background: linear-gradient(90deg, #f9f4e8 0%, #f0e5cc 100%);
          color: #825903;
          font-size: 22rpx;
          line-height: 36rpx;
          padding: 0 8rpx;
          display: inline-block;
          border-radius: 4rpx;
          position: relative;
          margin-top: 8rpx;
          font-weight: 400;

          &::after {
            content: "";
            position: absolute;
            top: -4rpx;
            margin-left: -4rpx;
            left: 50%;
            width: 0;
            height: 0;
            border-right: 8rpx solid transparent;
            border-top: 8rpx solid #f8f2e4;
            border-bottom: 8rpx solid transparent;
            transform: rotate(45deg);
          }

          b {
            font-weight: bold;
          }
        }
        .origin {
          font-size: 24rpx;
          color: #d0d0d6;
          line-height: 34rpx;
          text-decoration: line-through;
        }
      }
    }
  }
  .list-con {
    padding: 0 18rpx;
    margin-bottom: 50rpx;
    overflow: hidden;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

  .hidden-item {
    width: 200rpx;
    height: 16rpx;
    position: fixed;
    left: -120vw;
    top: 0;
  }
}
</style>
