<template>
  <view class="carousel-container-con">
    <view class="bg-image clearfix" v-if="config.bgImage">
      <img class="a" :src="config.bgImage" />
    </view>
    <view :class="['carousel-container', 'show-page-animation', config.isActivityGroup ? 'is-activity' : '', type == 'image_carousel' ? 'uSwiper' : '']" :style="{
      'border-radius': radius ? radius : '16rpx',
      'margin-bottom': (config.margin_bottom || 0) * 2 + 'rpx',
      'margin-top': (config.margin_top || 0) * 2 + 'rpx'
    }">
      <uv-swiper :class="[type == 'image_carousel' ? 'uSwiper' : '']" :list="imageList" keyName="url" :autoplay="true"
        :height="showHeight" :indicatorActiveColor="this.$store.state.theme.presentTheme['--theme-color']
      " indicator circular @click="NavPush"></uv-swiper>
    </view>
  </view>
</template>
<script>
import * as dayjs from "dayjs";
export default {
  props: ["config", "radius", "type"],
  data() {
    return {
      imageList: [],
    };
  },
  computed: {
    showHeight() {
      if (!this.config || !this.config.height) return 0;
      const showWidth = (this.config.height * 2 * this.windowWidth) / 375;
      // console.log("showWidth: ", showWidth);
      return showWidth;
    },
  },
  created() {
    this.windowWidth = window.screen.availWidth || window.screen.width;
  },
  mounted() {
    console.log("config=====>", this.type, this.config);
    let currentTime = +new Date();
    if (this.config.imageList.length > 0) {
      const fliterPlatForm = this.config.imageList.filter(
        (v) => !v.platform || v.platform == "app" || v.platform == "all"
      );
      fliterPlatForm.forEach((item) => {
        if (!item.start_time && !item.end_time) {
          item.show = true;
          return;
        }
        if (item.start_time && item.end_time) {
          let start_time = dayjs(item.start_time).valueOf();
          let end_time = dayjs(item.end_time).valueOf();
          if (currentTime >= start_time && currentTime <= end_time) {
            item.show = true;
          }
        } else if (item.start_time && !item.end_time) {
          let start_time = dayjs(item.start_time).valueOf();
          if (currentTime >= start_time) {
            item.show = true;
          }
        } else if (!item.start_time && item.end_time) {
          let end_time = dayjs(item.end_time).valueOf();
          if (currentTime <= end_time) {
            item.show = true;
          }
        }
      });
      this.imageList = fliterPlatForm.filter((v) => v.show);
      // console.log("this.imageList: ", this.imageList);
    }
  },
  methods: {
    NavPush(e) {
      console.log("e: ", e);
      // console.log(' this.imageList[0]: ',  this.imageList[0]);
      let item = this.imageList[e];
      this.$emit("onNavPush", item.link, item.type);
    },
  },
};
</script>
<style lang="scss" scoped>
.carousel-container-con {
  position: relative;
  overflow: hidden;

  .bg-image {
    width: 100vw;
    height: 100%;
    bottom: 0;
    position: absolute;
    left: 0;

    img {
      float: left;
      height: 100%;
      width: 100%;
    }
  }
}

.carousel-container {
  // width: 710rpx;
  margin: 0 auto;
  border-radius: 16rpx;
  overflow: hidden;
  margin-top: 16rpx;
  position: relative;

  &.is-activity {
    border-radius: 32rpx 32rpx 0 0;

    :deep(.van-image) {
      border-radius: 32rpx 32rpx 0 0;
      overflow: hidden;

      .img {
        border-radius: 32rpx 32rpx 0 0;
      }
    }
  }
}

.uSwiper {
  width: 710rpx;
}
</style>
