<template>
	<view class="ad-container show-page-animation">
		<view :class="['list', 'column-' + config.set.type]" v-for="(nav, navIndex) in navList" :key="navIndex">
			<view class="item clearfix" v-for="(item, index) in nav" :key="index"
				:style="{marginTop: (config.set.margin_top_bottom *2) + 'rpx',marginBottom: (config.set.margin_top_bottom *2) + 'rpx',marginLeft:'0rpx',marginRight:'0rpx'}"
				@click="NavPush(item.link, item.type)">
				<uv-image width="100%" :src="
            item.img + ('?imageView2/2/w/' + (800 / config.set.type).toFixed(0))
          " alt="" />
			</view>
		</view>
	</view>
</template>
<script>
	import {
		NavPush
	} from "@/utils/util";
	export default {
		components: {},
		props: ["config"],
		data() {
			return {
			
			};
		},
		created() {
			let nav = this.config.nav;
			const navList = [
					[]
				],
				columnNumber = this.config.set.type;
			let rowIndex = 0;

			for (
				let i = 0; i < (columnNumber > nav.length ? columnNumber : nav.length); i++
			) {
				if (navList[rowIndex].length === columnNumber) {
					rowIndex++;
				}
				if (navList[rowIndex]) {
					nav[i] && navList[rowIndex].push(nav[i]);
				} else {
					nav[i] && (navList[rowIndex] = [nav[i]]);
				}
			}
			this.navList = navList;
		},
		watch: {},
		methods: {
			NavPush(link, type) {
				this.$emit("onNavPush", link, type);
			},
		},
	};
</script>

<style lang="scss" scoped>
	.list {
		width: 710rpx;
		margin: 0 auto;
		display: flex;

		// align-items: flex-start;
		// justify-content: space-between;
		// flex-wrap: wrap;
		.item {
			:deep(.van-image) {
				// width: 100%;
				float: left;
			}
		}

		&.column-1 {
			.item {
				width: 100%;

				&:nth-child(1) {
					margin-right: 0 !important;
				}
			}
		}

		&.column-2 {
			.item {
				width: 50%;

				&:nth-child(2) {
					margin-right: 0 !important;
				}
			}
		}

		&.column-3 {
			.item {
				width: 33.3333%;

				&:nth-child(3) {
					margin-right: 0 !important;
				}
			}
		}

		&.column-4 {
			.item {
				width: 25%;

				&:nth-child(4) {
					margin-right: 0 !important;
				}
			}
		}

		&.column-5 {
			.item {
				width: 20%;

				&:nth-child(5) {
					margin-right: 0 !important;
				}
			}
		}

		&.column-6 {
			.item {
				width: 16.6666%;

				&:nth-child(6) {
					margin-right: 0 !important;
				}
			}
		}
	}
</style>