<template>
  <view
    class="notice-container"
    :style="{marginTop: '0rpx',marginBottom: '0rpx',marginLeft:(config.set.margin_top_bottom *2) + 'rpx',marginRight:(config.set.margin_top_bottom *2) + 'rpx'}"
  >
    <view class="notice-con">
      <u-notice-bar
        v-if="direction"
        :style="{'border-radius': (config.border_radius * 2 + 'rpx')}"
        :text="noticeList"
        :direction="direction"
        :bgColor="config.bg_color"
        :color="config.color"
        fontSize="24rpx"
        :duration="config.interval"
        :step="false"
        @click="noticeBtn"
      ></u-notice-bar>
    </view>
  </view>
</template>
<script>
export default {
  // },
  props: ["config"],
  data() {
    return {
      noticeList: null,
      direction: null,
    };
  },
  created() {},
  mounted() {
    if (this.config.list.length > 1) {
      this.direction = 'column';
      this.noticeList = this.config.list.map((x) => {
        return x.content;
      });
    } else {
      this.direction = 'row';
      console.log("111111111111111111111");
      this.noticeList = this.config.list[0].content;
      console.log('this.noticeList: ', this.noticeList);
    }
  },
  watch: {},
  methods: {
    noticeBtn(e) {
      console.log("e: ", e);
      let item = this.config.list[e];
      this.$emit("onNavPush", item.link, item.type);
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .uicon-volume {
    font-size: 38rpx !important;
  }
}
</style>
