<template>
  <view :class="['title-text-container',  'show-page-animation', pageConfig.style]">
    <view class="title text-1">{{ config.title }}</view>
    <view
      class="desc text-1"
      :style="{'color': config.descColor}"
      v-if="config.desc"
    >
      {{ config.desc }}
    </view>
  </view>
</template>
<script>
export default {
  components: {},
  props: ["config", "pageConfig"],
  data() {
    return {};
  },
  created() {},
  watch: {},
  methods: {
    NavPush(link, type) {
      this.$emit("onNavPush", link, type);
    },
  },
};
</script>

<style lang="scss" scoped>
.title-text-container {
  padding: 0 30rpx;
  margin-top: 32rpx;
  margin-bottom: 16rpx;
  display: flex;
  align-items: flex-start;
  &.light {
    .title {
      color: #fff;
    }
    .desc {
      color: #f0f0f0;
    }
  }
  .title {
    max-width: 300rpx;
    font-size: 36rpx;
    font-weight: bold;
    color: #101012;
    line-height: 50rpx;
  }
  .desc {
    max-width: 300rpx;
    font-size: 24rpx;
    color: $theme-color;
    line-height: 34rpx;
    margin-top: 12rpx;
    padding-left: 14rpx;
    position: relative;
    margin-left: 16rpx;
    &::before {
      content: "";
      // @include y_c();
      left: 0;
      width: 2rpx;
      height: 18rpx;
      border-radius: 2rpx;
      background-color: #d0d0d6;
    }
  }
}
</style>
