<template>
	<view class="container" :style="this.$store.state.theme.presentTheme">
		<web-view :src="path"></web-view>
	</view>
</template>

<script>
	import {
		i18n
	} from '@/main.js'
	export default {
		data() {
			return {
				path: ''
			};
		},
		onLoad(options) {
			this.customerServiceUrlFn()
			this.title = i18n.t('service.title')
			uni.setNavigationBarTitle({
				title: i18n.t('service.title')
			})
		},
		methods:{
			// 获取客服链接
			customerServiceUrlFn() {
				this.$api.customerServiceUrl().then((res) => {
					if (res.code == 200) {
						this.path = res.msg;
					} else {
						uni.showToast({
							icon: 'none',
							title: res.msg,
							duration: 2000
						})
					
						
					}
				});
			},
		}
	}
</script>

<style>
</style>