<template>
	<view class="container" :style="this.$store.state.theme.presentTheme">
		<web-view :src="path" @message="onMessage"  @onPostMessage="onMessage"></web-view>
	</view>

</template>

<script>
	export default {
		data() {
			return {
				path: '',
				title: ''
			};
		},
		
		 onShareAppMessage: function (res) {
		    // 如果要自定义分享内容，可以设置shareTicket和query参数
		    return {
		      title: '分享的标题',
		      path: '/pages/index/index',
		      imageUrl: '/static/logo.png'
		    }
		  },

		onLoad(options) {
			console.log('标题' + options?.title)
			console.log('语言' + uni.getLocale())
			console.log(options)
			let parmas = ''
			Object.keys(options).forEach(item => {
				if (item !== 'path' && item !== 'title') {
					parmas += `&${item}=${options[item]}`
				}
			})
			if (options.path) {
				let token = this.$store.getters.loginToken.access_token || this.$store.getters.loginToken
				let uniPlatform = uni.getSystemInfoSync().uniPlatform
				this.path = this.$jumpDomain + options.path +
					`?token=${token}&xTenant=${this.$store.getters.xTenant || null}&showNavTile=false${parmas}&locale=${uni.getLocale()}&uniPlatform=${uniPlatform}`
				console.log('+++++++222+++++++++++++')
				console.log(this.path)
				console.log('+++++++++2222+++++++++++')
				setTimeout(() => {
					this.title = options?.title
					uni.setNavigationBarTitle({
						title: this.title
					})
				}, 800)

			}
		},
		mounted() {
			

		},
		methods: {
			// 接收网页发送的信息
			onMessage(e) {
				uni.showToast({
					icon: 'none',
					title: '触发了'+e,
					duration: 2000
				})
				console.log('接收到信息', e);
			},
		},

	}
</script>

<style lang="scss" scoped>
	.zwf {
		width: 100%;
		//top: calc(var(--status-bar-height) + 82rpx)
	}
</style>