<template>
	<view class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :show='true'>{{ $t('pages.mine') }}</commonTop>
		<view class="information">{{ miniProgram }}
			<view class="particulars">
				<uv-image :src="userInfo && userInfo.avatar
		? userInfo.avatar
		: '@/static/images/my/mine_def_touxiang_3x.png'
		" class="particulars-photo" height="100rpx" width="100rpx" shape="circle"></uv-image>
				<view class="particulars-info">
					<view class="topInfo">
						<view class="name">{{ userInfo.name }}</view>
					</view>
					<view class="footInfo" @click="!!userInfo.isPop && $refs.historicalPlatformShow.open()">
						<div class="mobile" v-if="userInfo.phone">
							<span><uv-icon class="phone" size="24" color="#2e2e2e" name="phone"></uv-icon></span>:{{
		userInfo.phone }}
						</div>
						<view style="color: #b41701; display: flex; margin-left: 24rpx;align-items: center;"
							v-if="userInfo.authorizationCode">
							<text>{{ $t("invite.AuthorizationID") }}:{{
		userInfo.authorizationCode
	}}</text>
							<uv-icon color="#b41701" size="18" name="arrow-right"></uv-icon>
						</view>
					</view>
					<view class="leveBox">
						<view class="leveItem" v-for="(item, index) in userInfo.storelevelList" :key="index">
							<view v-if="item.isDistributor" class="levelName"
								:style="{ 'backgroundColor': item.logoColor }">
								<image :src="item.logoPath" style="margin-left: 2rpx;width: 24rpx;height: 24rpx">
								</image>
								<text style="margin-left: 6rpx">{{ item.levelName }}</text>
							</view>
						</view>
					</view>
				</view>
			</view>
			<view class="balance" v-if="balance && userInfo.isDistributor">
				<view class="balance-item" v-for="balanceItem in balance" :key="balanceItem.accountType"
					@click="paymentGoTo(balanceItem.accountType)">
					<view class="topMoney">
						{{ currency(balanceItem.amount) }}
					</view>
					<view class="footInfo">
						{{ $t(`Payment.${balanceItem.accountType}`) }}
					</view>
				</view>
			</view>
		</view>
		<view class="remind" v-if="NoticeBar.NoticeBarShow">
			<uv-notice-bar fontSize="14" :text="NoticeBar.text" :url="NoticeBar.url" mode="link"></uv-notice-bar>
		</view>
		<view class="order">
			<view class="orderItem" v-for="item in orderData" :key="item.id" @click="orderGoTo(item)">
				<view class="orderIcon">
					<uv-image :src="item.icon" class="particulars-photo" height="60rpx" width="60rpx"></uv-image>
				</view>
				<view class="orderInfo">{{ $t(item.info) }}</view>
				<view class="count" v-if="item.count">
					<uv-badge :bgColor="$store.state.theme.presentTheme['--theme-color']" max="99"
						:value="item.count"></uv-badge>
				</view>
			</view>
		</view>
		<view class="commonFunction" v-if="userInfo.isDistributor">
			<view class="title">{{ $t("home.DealerFnctions") }}</view>
			<view class="functionList">
				<uv-grid :border="false" :col="4">
					<template v-for="(baseListItem, baseListIndex) in list">
						<uv-grid-item :key="baseListIndex" @click="(e) => clickTo(e, baseListItem)"
							v-if="baseListItem.signDisplayed">
							<template v-if="baseListItem.name">
								<uv-icon :customStyle="{ paddingTop: 20 + 'rpx' }" :name="baseListItem.name" :size="60"
									color="#CB493A"></uv-icon>
							</template>
							<template v-if="baseListItem.iconUrl">
								<uv-image :src="baseListItem.iconUrl" class="ommonItemIconUrl" height="60rpx"
									width="60rpx" shape="circle">
								</uv-image>
							</template>

							<text class="grid-text">{{ $t(baseListItem.title) }}</text>
						</uv-grid-item>
					</template>
				</uv-grid>
			</view>
		</view>
		<view class="commonFunction">
			<view class="title">{{ $t("home.CommonFunctions") }}</view>
			<view class="functionList">
				<uv-grid :border="false" :col="4">
					<template v-for="(ommonItem, ommonIndex) in commonList">
						<uv-grid-item :key="ommonIndex" @click="(e) => commonClickTo(e, ommonItem)"
							v-if="ommonItem.signDisplayed">
							<template v-if="ommonItem.name">
								<uv-icon :customStyle="{ paddingTop: 20 + 'rpx' }" :name="ommonItem.name" :size="60"
									:color="$store.state.theme.presentTheme['--theme-color']"></uv-icon>
							</template>
							<template v-if="ommonItem.iconUrl">
								<uv-image :src="ommonItem.iconUrl" class="ommonItemIconUrl" height="60rpx" width="60rpx"
									shape="circle">
								</uv-image>
							</template>
							<text class="grid-text">{{ $t(ommonItem.title) }}</text>
						</uv-grid-item>
					</template>
				</uv-grid>
			</view>
		</view>
		<LangSwitch @switchLanguageChange="switchLanguageChange"></LangSwitch>
		<uv-popup :show="popupShow" mode="right" @close="close" :closeable="true" :closeOnClickOverlay="true">
			<view class="popupList">
				<uv-list class="listBox">
					<uv-list-item showArrow clickable @click="goTo('/pages/login/modifyPhone')" :title="'修改绑定手机'" />
				</uv-list>
				<uv-button class="popupBtn" type="primary" :text="$t('home.logOut')" @click="logOut"></uv-button>
			</view>
		</uv-popup>
		<uv-popup ref="popup" mode="bottom" background-color="#fff">
			<div class="picker-title">
				<div class="picker-cancel" @click="cancelEvent">
					{{ $t("register.Cancel") }}
				</div>
				<div class="picker-confrim" @click="confrimEvent">
					{{ $t("register.Confirm") }}
				</div>
			</div>
			<picker-view v-if="levelBusinessVisible" :indicator-style="indicatorStyle" :value="levelBusinessValue"
				@change="bindChange" class="picker-view">
				<picker-view-column>
					<view class="item" v-for="(item, index) in levelBusinessList" :key="index">{{ item.levelName }}
					</view>
				</picker-view-column>
				<picker-view-column>
					<view class="item" v-for="(itemx, indexs) in brandByInviteList" :key="indexs">{{ itemx.storeName }}
					</view>
				</picker-view-column>
			</picker-view>
		</uv-popup>
		<bindingPhone v-if="showFlag" :showFlag="showFlag" @changShowFlag="changShowFlag"></bindingPhone>

		<m-tabbar v-if="xTenant" fixed fill current="2" :tabbar="tabbar"></m-tabbar>
		<uv-modal ref='contractProgressShow' :showCancelButton="contractProgressCancelButton" title="合同签署提示"
			content='您有一份电子合同待签署，请前往处理！' @cancel="$refs.contractProgressShow.close()"
			@confirm="contractProgress"></uv-modal>
		<uv-modal width="582rpx" ref="historicalPlatformShow" class="historicalPlatformBox"
			:title="historicalPlatformTitle">
			<view class="slot-content">
				<ul>
					<li v-for="(item, index) in historicalPlatformList" :key="index"
						:class="[index % 2 === 0 ? 'listStyle1' : 'listStyle2']">
						<span>{{ item.storeName }}</span>
						<span class="b">{{ item.code }}</span>
					</li>
				</ul>
			</view>
		</uv-modal>
	</view>
</template>
<script>
	import LangSwitch from "@/components/LangSwitch/LangSwitch";
	import commonTop from '@/components/CommonTop'
	import {
		mapMutations
	} from "vuex";
	import storage from "@/utils/storage.js";
	import {
		currency
	} from "@/utils/util.js";
	import TabbarConfig from "@/config/tabbar.js";
	import bindingPhone from "@/components/bindingPhone";

	import {
		i18n
	} from '@/main.js'

	export default {
		components: {
			LangSwitch,
			bindingPhone,
			commonTop
		},
		computed: {
			// ...mapGetters(['presentTheme'])
		},
		data() {
			return {
				xTenant: this.$store.getters.xTenant,
				miniProgram: '',
				historicalPlatformTitle: "历史平台授权码",
				currency,
				tabbar: TabbarConfig(this),
				indicatorStyle: `height: 50px;`,
				RegionIndex: [0, 0],
				levelBusinessList: [],
				levelBusinessValue: [0],
				contractProgressCancelButton: false,
				historicalPlatformList: storage.get("loginInfo")?.storelevelList || [],
				list: [{

						iconUrl: require("@/static/images/index/PurchaseOrderPlacement.png"),
						title: "home.PurchaseOrderPlacement",
						id: "PurchaseOrderPlacement",
						signDisplayed: true,

					},
					{
						iconUrl: require("@/static/images/index/ingredients.png"),
						title: "home.accessories",
						id: "accessories",
						toUrl: `/pages/goods/goodsClassify?productType=Related`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					{
						iconUrl: require("@/static/images/index/combinedCommodity.png"),
						title: "goods.combinedCommodity",
						id: "combinedCommodity",
						toUrl: `pages/goods/combinedCommodity&title=${i18n.t('goods.combinedCommodity')}`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					{
						// name: "level",
						iconUrl: require("@/static/images/index/myInvitation.png"),
						title: "invite.inviteList",
						id: "myInvitation",
						signDisplayed: true,
					},
					{
						// name: "photo-fill",
						iconUrl: require("@/static/images/index/material.png"),
						title: "pages.material",
						id: "material",
						signDisplayed: true,
					},
					{
						// name: "plus-people-fill",
						iconUrl: require("@/static/images/index/inviteUsers.png"),
						title: "home.inviteUsers",
						id: "inviteUsers",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					// {
					// 	iconUrl: require("@/static/images/index/certificateAuthorization.png"),
					// 	title: "certificateAuthorization.title",
					// 	id: "certificateAuthorization",
					// 	toUrl: "pages/home/defaultPage",
					// 	signDisplayed: this.$store.getters.xTenant ? false : true,
					// },
					{
						iconUrl: require("@/static/images/index/physicalStore.png"),
						// name: "home-fill",
						title: "store.physicalStore",
						id: "physicalStore",
						toUrl: `/pages/storeManagement/physicalStore`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					{
						// name: "rmb-circle-fill",
						iconUrl: require("@/static/images/index/myEarnings.png"),
						title: "myEarnings.title",
						id: "myEarnings",
						toUrl: this.$store.getters.xTenant ?
							`pages/account/myEarnings&title=${i18n.t('myEarnings.title')}` :
							"/pages/home/defaultPage?type=myEarnings",
						signDisplayed: true,
					},
					// {
					//   name: "edit-pen-fill",
					//   title: "payContract.title",
					//   id: "payContract",
					//   // toUrl: "/pages/home/payContract",
					//   signDisplayed: this.$store.getters.xTenant ? false : true,
					// },
					{
						iconUrl: require("@/static/images/index/recharge.png"),
						title: "recharge.title",
						id: "recharge",
						// toUrl: "/pages/account/recharge",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					{
						iconUrl: require("@/static/images/index/visitEvaluation.png"),
						title: "visitEvaluation.title",
						id: "visitEvaluation",
						toUrl: `pages/visitEvaluation/shopTourHistory&title=${i18n.t('visitEvaluation.title')}`,
						signDisplayed:
							!this.$store.getters.xTenant &&
							storage.get("loginInfo")?.storelevelList.some((i) => i.levelId == 1) ?
							true : false,
					},
					{
						iconUrl: require("@/static/images/index/trainingCenter.png"),
						title: "trainingCenter.title",
						id: "trainingCenter",
						toUrl: "/pages/trainingCenter/index",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					{
						iconUrl: require("@/static/images/index/creditsExchange.png"),
						title: "creditsExchange.title",
						id: "creditsExchange",
						toUrl: `/pages/home/webView?type=excharge`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					}, {
						iconUrl: require("@/static/images/index/accountSecurity.png"),
						title: "accountSecurity.title",
						id: "accountSecurity",
						toUrl: `pages/account/accountSecurity/index&title=${i18n.t('accountSecurity.title')}`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					// 测试扫码调货
					{
						iconUrl: require("@/static/images/index/accountSecurity.png"),
						title: "scanShipment.title",
						id: "scanShipment",
						toUrl: `pages/scan-shipments/scan-order-list&title=${i18n.t('scanShipment.title')}`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					// {
					//   iconUrl: require("@/static/images/index/combinedCommodity.png"),
					//   title: "contractManagement.title",
					//   id: "contractManagement",
					//   toUrl: "/pages/contractManagement/contract-management-list",
					//   signDisplayed: this.$store.getters.xTenant ? false : true,
					// },
					{
						iconUrl: require("@/static/images/index/materialDownload.png"),
						title: "home.materialDownload",
						id: "materialDownload",
						// toUrl: "/pages/document/about",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					{
						// name: "plus-people-fill",
						iconUrl: require("@/static/images/index/sendOrder@2x.png"),
						title: "uSSecondGeneration.binding",
						id: "uSSecondGeneration",
						toUrl: `pages/usgBind/subAccountBind&title=${i18n.t('subAccountBinding')}`,
						signDisplayed: storage.get("loginInfo")?.isAllBrand === true ? true : false,
					},
					{
						// name: "plus-people-fill",
						iconUrl: require("@/static/images/index/AmountTransferred.png"),
						title: "amountTransferred.title",
						id: "amountTransferred",
						toUrl: "/pagesA/account/amountTransferred",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
				],

				commonList: [{
						// name: "plus-people-fill",
						iconUrl: require("@/static/images/index/inviteUsers.png"),
						title: "home.inviteUsers",
						id: "inviteUsers",
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},

					{
						// name: "integral-fill",
						iconUrl: require("@/static/images/index/inviteUsersIcon.png"),
						title: "home.upgradeApplication",
						id: "upgradeApplication",
						signDisplayed: true,
					},
					{
						iconUrl: require("@/static/images/index/Myinviter.png"),
						title: "invite.Myinviter",
						id: "Myinviter",
						toUrl: `pages/invite/myInvite&title=${i18n.t('invite.Myinviter')}`,
						signDisplayed: true,
					},
					{
						iconUrl: require("@/static/images/index/policyIcon.png"),
						title: "home.PrivacyPolicy",
						id: "PrivacyPolicy",
						toUrl: `pages/document/policy&type=PrivacyPolicy&title=${i18n.t('home.PrivacyPolicy')}`,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					{
						iconUrl: require("@/static/images/index/ShippingPolicyIcon.png"),
						title: "home.ShippingPolicy",
						id: "ShippingPolicy",
						toUrl: `pages/document/policy&type=ShippingPolicy&title=${i18n.t('home.ShippingPolicy')}`,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					{
						iconUrl: require("@/static/images/index/ReturnRefundPolicyIcon.png"),
						title: "home.ReturnRefundPolicy",
						id: "ReturnRefundPolicy",
						toUrl: `pages/document/policy&type=ReturnRefundPolicy&title=${i18n.t('home.ReturnRefundPolicy')}`,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					{
						iconUrl: require("@/static/images/index/TermsAndConditionsIcon.png"),
						title: "home.TermsAndConditions",
						id: "TermsAndConditions",
						toUrl: `pages/document/policy&type=TermsAndConditions&title=${i18n.t('home.TermsAndConditions')}`,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					{
						iconUrl: require("@/static/images/index/feedback.png"),
						title: "home.about",
						id: "about",
						toUrl: `pages/document/about&title=${i18n.t('home.about')}`,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},

					{
						iconUrl: require("@/static/images/index/feedback.png"),
						title: "feedback.title",
						id: "feedback",
						toUrl: "pages/home/defaultPage",
						signDisplayed: true,
					},

					{
						iconUrl: require("@/static/images/index/helpCenter.png"),
						title: "helpCenter.title",
						id: "helpCenter",
						toUrl: "pages/home/defaultPage",
						signDisplayed: true,
					},
					{
						iconUrl: require("@/static/images/index/service.png"),
						title: "service.title",
						id: "service",
						// toUrl: "/pages/home/defaultPage",
						signDisplayed: true,
					},

					{
						// name: "setting-fill",
						iconUrl: require("@/static/images/index/setting.png"),
						title: "user.setting",
						id: "setting",
						toUrl: `pages/user/setting&title=${i18n.t('home.TermsAndConditions')}`,
						signDisplayed: true,
					},
				],
				orderData: [{
						icon: "/static/images/order/PendingReview.png",
						info: "order.PendingReview",
						id: "ToBePaid",
						count: 0,
					},
					{
						icon: "/static/images/order/FrontShipping.png",
						info: "order.FrontShipping",
						id: "FrontShipping",
						count: 0,
					},
					{
						icon: "/static/images/order/Shipped.png",
						info: "order.Shipped",
						id: "Shipped",
						count: 0,
					},
					{
						icon: "/static/images/order/Finished.png",
						info: "order.Finished",
						id: "Finished",
					},
					{
						icon: "/static/images/order/All.png",
						info: "order.All",
						id: "All",
					},
				],
				popupShow: false,
				userInfo: storage.get("loginInfo"),
				storelevelData: this.$store.getters.storelevelData,
				levelBusiness: "",
				levelBusinessVisible: true,
				balance: {},
				businessLevelAvailableList: [],
				showFlag: false,
				contractProgressShow: false,
				platformModalShow: false,
				brandByInviteList: [],

				customerInfoData: null,

				NoticeBar: {
					NoticeBarShow: false,
					text: "",
					url: "",
				},
				flowRequest: ""
			};
		},
		onLoad() {
			this.$store.dispatch("getUserInfo").then(() => {
				this.userInfo = storage.get("loginInfo");
				console.log("this.userInfo", this.userInfo);
				if (this.userInfo?.phone) {
					this.showFlag = false;
				} else {
					//未绑定手机号强制弹窗绑定
					this.showFlag = true;
				}
				this.getBusinessLevel();
				// this.businessLevelAvailable();
				this.summaryByAccountFn();
				this.purchaseOrderCountFn();
				this.brandByInviteFn();
				this.customerAppliedTwoInfo()
				if (!this.$store.getters.xTenant) {
					this.additionalStateFn();
				}
			});
		},
		mounted() {
			uni.$on('updateEquipmentList', () => {
				uni.reLaunch({
					url: '/pages/user/index'
				})
			});
		},

		methods: {
			...mapMutations(["LOGIN_USERINFO", "STORE_LEVEDATA"]),
			// 获取状态
			customerAppliedTwoInfo() {
				this.$api.getCustomerAppliedTwoInfo().then((res) => {
					if (res.data) {
						if (res.data === 1) {
							uni.reLaunch({
								url: '/pages/usgBind/entryProcess'
							})
						}
					}
				});
			},
			// 绑定手机号回调
			changShowFlag(data) {
				this.$store.dispatch("getUserInfo").then(() => {
					this.showFlag = false;
					this.userInfo = storage.get("loginInfo");
				});
			},

			// 获取连连相关状态
			additionalStateFn() {
				this.$api.additionalState().then((res) => {
					if (res?.code == 200) {
						this.additionalStateData = res.data;
						if (res.data.openAccountStatus == 4) {
							if (!res.data.isFreeSecretPay) {
								// this.isAuthFn()
								this.NoticeBar = {
									NoticeBarShow: true,
									text: "开户完成需要您完成免密授权，未完成将影响您奖金发放",
									// url: res.data.gatewayUrl,
									type: "applyAuth",
								};
							}
						}
					}
				});
			},
			// 国际化切换回调处理
			switchLanguageChange() {
				this.getBusinessLevel();
				this.tabbar = TabbarConfig(this);
			},
			// 获取等级列表
			getBusinessLevel() {
				this.$api.businessLevelAll().then((res) => {
					if (res) {
						this.levelBusinessList = res;
						this.levelBusiness = res.find((x) => {
							if (this.storelevelData?.levelId) {
								return this.storelevelData?.levelId == x.levelId;
							} else {
								return "";
							}
						});
					}
				});
			},
			// 获取可申请得等级
			businessLevelAvailable() {
				this.$api.businessLevel().then((res) => {
					if (res.code == 200) {
						this.businessLevelAvailableList = res.data;
					}
				});
			},
			// 发起邀请时可选品牌
			brandByInviteFn() {
				this.$api.brandByInvite().then((res) => {
					if (res.code == 200) {
						this.brandByInviteList = res.data;
					}
				});
			},
			// 获取个人充值金额列表
			summaryByAccountFn() {
				this.$api.summaryByAccount().then((res) => {
					if (res.code == 200 && res?.data) {
						this.balance = res.data;
					}
				});
			},
			// 获取各状态订单数量小红点
			purchaseOrderCountFn() {
				let that = this
				that.$api.purchaseOrderCount().then((res) => {
					if (res) {
						that.orderData[0].count = res?.toBeReviewCount;
						that.orderData[1].count = res?.toBeShipCount;
						that.orderData[2].count = res?.toBeReceiveCount;
					}
				});
			},
			// 经销商功能跳转
			clickTo(name, list) {
				console.log("e: ", name, list);
				switch (list.id) {
					case "PurchaseOrderPlacement":
						uni.navigateTo({
							url: `/pages/goods/goodsClassify`,
						})
						break;
					case "myInvitation":
						let url = "";
						this.$store.getters.xTenant ?
							(url = `pages/invite/teamReward&title=${i18n.t('invite.inviteList')}`) :
							(url = `pages/invite/inviteList&title=${i18n.t('invite.inviteList')}`);
						uni.navigateTo({
							url: "/pages/webview/index?path=" + url
						})
						break;
					case "material":
						uni.navigateTo({
							url: `/pages/webview/index?path=pages/material/index&title=${i18n.t('pages.material')}`,
						})
						break;
					case "inviteUsers":
						if (!this.userInfo?.customerId) {
							uni.showToast({
								icon: 'none',
								title: '尚未成为会员,请扫他人邀请码注册',
								duration: 2000
							})
							return;
						}
						if (this.levelBusinessList.length) {
							this.$refs.popup.open();
						} else {
							uni.showToast({
								icon: 'none',
								title: this.$t("main.RequestError"),
								duration: 2000
							})
						}
						break;
					case "payContract":
						if (this.customerInfoData.silentOpened !== 2) {
							uni.showToast({
								icon: 'none',
								title: "签约资料审核中",
								duration: 2000
							})
						} else {
							uni.navigateTo({
								url: `/pages/webview/index?path=pages/home/payContract&title=${i18n.t('payContract.title')}`,
							})
						}
						return;
					case "recharge":
						this.customerInfoFn();
						return;
					case "materialDownload":
						window.location.href = "http://web3.merrige.cn/download/index.html";
						break;
					case "physicalStore":
						uni.navigateTo({
							url: list.toUrl
						})
						return;
					case "trainingCenter":
						uni.navigateTo({
							url: list.toUrl
						})
						return;
					case "amountTransferred":
						console.log('111111111111111'+ list.toUrl)
						uni.navigateTo({
							url: list.toUrl
						})
						return;

					case "accessories":
						uni.navigateTo({
							url: list.toUrl
						})
						return;

					case "myEarnings":
						if (this.$store.getters.xTenant) {
							uni.navigateTo({
								url: "/pages/webview/index?path=" + list.toUrl
							})
						} else {
							uni.navigateTo({
								url: list.toUrl
							})
						}
						return;
					case "creditsExchange":
						uni.navigateTo({
							url: list.toUrl
						})
						return;
					default:
						if (list.toUrl) {
							uni.navigateTo({
								url: "/pages/webview/index?path=" + list.toUrl
							})
						}
						break;
				}
			},
			// 常用功能跳转
			commonClickTo(e, item) {
				if (item.toUrl) {
					uni.navigateTo({
						url: item.isToWebview === false ? '/' + item.toUrl.replace('&', '?') :
							`/pages/webview/index?path=${item.toUrl}`
					})
				} else {
					switch (item.id) {
						case "upgradeApplication":

							this.getApplicationDetail();

							break;
						case "inviteUsers":
							if (!this.userInfo?.customerId) {

								uni.showToast({
									icon: 'none',
									title: "尚未成为会员,请扫他人邀请码注册",
									duration: 2000
								})
								return;
							}
							if (this.levelBusinessList.length) {
								this.$refs.popup.open();
							} else {
								uni.showToast({
									icon: 'none',
									title: this.$t("main.RequestError"),
									duration: 2000
								})
							}
							break;
						case "service":
							if (this.$store.getters.xTenant) {
								uni.showModal({
									title: this.$t("user.Customer service") + '+60 12-271 3149',
									// content: ,
									confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
									showCancel: false,
								});
							} else {
								uni.navigateTo({
									url: '/pages/webview/customService'
								})
							}
					}
				}
			},
			// 根据申请人用户信息查询品牌授权详情
			getApplicationDetail() {
				this.$api.applicationDetail().then((res) => {
					console.log("res: ", res);
					let url = "";
					if (res.code == 200 && res.data?.status) {
						if (res.data.existsOtherStoreApplication) {
							uni.showModal({
								title: this.$t("register.TemporarilyInoperable"),
								content: this.$t("register.TemporarilyInoperableInfo"),
								confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
								showCancel: false,
							});
							return;
						}
						console.log("res.status: ", res.data?.status);

						if (
							res.data.status == "Created" ||
							res.data.status == "AuditFail" ||
							res.data.status == "AuditSuccess" ||
							res.data.status == "Recharged"
						) {
							url = `pages/register/register-result&title=${i18n.t('registerResult.title')}`;
						}

						if (res.data.status == "Completed" || res.data.status == "Closed") {
							if (this.userInfo.isDistributor) {
								url = `pages/register/register&mode=again&title=${i18n.t('register.title')}`;
							} else {
								url = `pages/register/register&title=${i18n.t('register.title')}`;
							}
						}
					} else {
						url = `pages/register/register&title=${i18n.t('register.title')}`;
					}
					console.log(url);
					uni.navigateTo({
						url: "/pages/webview/index?path=" + url
					});
				});
			},
			// 订单跳转
			orderGoTo(item) {
				console.log("item: ", item);
				uni.navigateTo({
					url: `/pages/webview/index?path=pages/order/orderList&id=${item.id}&title=${i18n.t('order.PurchaseOrder')}`,
				});
			},
			//货款跳转
			paymentGoTo(accountType) {
				console.log("accountType: ", accountType);
				uni.navigateTo({
					url: `/pages/webview/index?path=pages/account/paymentDetails&accountType=${accountType}&title=${i18n.t(`Payment.${accountType}`)}`
				});
			},
			// 弹出层关闭回调
			close(e) {
				console.log("e: ", e);
				this.popupShow = false;
			},
			// 退出登录
			logOut() {
				this.$store.dispatch("logout").then(() => {

					uni.showToast({
						icon: 'none',
						title: "ok",
						duration: 2000
					})
					setTimeout(() => {
						uni.reLaunch({
							url: "/pages/login/login",
						});
					}, 200);
				});
			},
			// 选择回调
			bindChange(e) {
				console.log("bindChange", e);
				this.RegionIndex = e.detail.value;
			},
			cancelEvent() {
				this.$refs.popup.close();
			},
			confrimEvent(e) {
				// console.log(this.RegionIndex, "this.RegionIndex",this.levelBusinessList,this.brandByInviteList,this.levelBusinessList[this.RegionIndex[0]],this.brandByInviteList[this.RegionIndex[1]]);
				let levelBusiness = this.levelBusinessList[this.RegionIndex[0]];
				let brandByInviteData = this.brandByInviteList[this.RegionIndex[1] || 0];
				let levelBusinessData = {
					levelId: levelBusiness.levelId,
					brandId: brandByInviteData.id,
					storeId: brandByInviteData.storeId,
					levelName: levelBusiness.levelName,
					brandName: brandByInviteData.storeName,
				};
				this.$refs.popup.close();

				let userinfo = {}
				if (storage.get("loginInfo")) {
					let userInfo = storage.get("loginInfo")
					userinfo.customerId = userInfo.customerId
					userinfo.name = userInfo.name
					userinfo.avatar = userInfo.avatar
				}

				uni.navigateTo({
					url: `/pages/webview/index?path=pages/invite/index&levelBusinessData=${JSON.stringify(levelBusinessData)}&title=${i18n.t('invite.title')}&userInfo=${JSON.stringify(userinfo)}`
				})
			},
			// 跳转e签宝实名认证
			authentication(type) {
				this.$api.flowStatus().then((res) => {
					if (res.code == 200) {
						if (res.data.status == 0 && type == 1) {
							uni.showToast({
								icon: 'none',
								title: "无需实名认证",
								duration: 2000
							})
						}

						if (res.data.status == 20) {
							//跳转签署合同页面
							uni.navigateTo({
								url: `/pages/webview/index?path=pages/document/dealerManagement?contractId=${res.data?.contractId}&flowId=${res.data?.flowId}&title=${i18n.t('document.dealerManagement')}`
							})
						}
						if (res.data.confirmed == false) {
							//跳转实名认证页面
							let flowRequest = JSON.stringify(res.data);
							this.flowRequest = flowRequest;
							uni.navigateTo({
								url: `/pages/webview/index?path=pages/home/authentication?flowRequest=${flowRequest}&title=${i18n.t('pages.authentication')}`
							})
						}
					}
				});
			},
			// 获取e签宝跳转地址
			getSignAuthUrlFn() {
				this.$api.getSignAuthUrl().then((res) => {
					console.log("res: ", res);
					if (res) {
						window.location.href = res.authUrl;
					}
				});
			},
			// 查询合同签署进度
			getContractProgressFn() {
				const that = this;
				getContractProgress().then((res) => {
					that.contractProgressCancelButton = res.data.isForceSign === 0 ? true : false;
					if (res.data.signStatus === 0) {
						//未完成
						that.$refs.contractProgressShow.open()
					} else {
						//已完成
						that.$refs.contractProgressShow.close()
					}
				});
			},
			contractProgress() {
				uni.navigateTo({
					url: '/pages/contractManagement/contract-management-sign'
				});
			},
			//相关跳转
			goTo(url) {
				console.log("url:相关跳转 ", url);
				uni.navigateTo({
					url: "/pages/webview/index?path=" + url,
				})
			},
			// 展示切换平台弹窗
			platformModalBtn() {
				if (storage.get("loginInfo")?.storelevelList.length <= 1) {

					uni.showToast({
						icon: 'none',
						title: this.$t("user.noOtherShopSwitched"),
						duration: 2000
					})
					return;
				}
				this.platformModalShow = true;
			},
			// 平台切换回调
			platformModalFn(type, data) {
				console.log("type,data:平台切换回调 ", type, data);
				if (type == "confirm") {
					this.STORE_LEVEDATA(data);
					this.$store.dispatch("getUserInfo").then(() => {
						this.userInfo = storage.get("loginInfo");
						this.storelevelData = this.$store.getters.storelevelData;
						// if (!this.$store.getters.xTenant) {
						//   // 国内系统强制去认证页面
						//   this.authentication();
						// }
						this.getBusinessLevel();
						this.businessLevelAvailable();
						this.summaryByAccountFn();
						this.purchaseOrderCountFn();
					});
				}
				this.platformModalShow = false;
			},

			// 经销商信息数据
			customerInfoFn() {
				this.$api.customerInfo().then((res) => {
					if (res.code == 200) {
						this.customerInfoData = res.data;
						if (this.customerInfoData.confirmed) {
							if (this.customerInfoData.openAccountStatus == 4) {
								uni.navigateTo({
									url: `/pages/webview/index?path=pages/account/recharge&title=${i18n.t('recharge.title')}`
								})
							} else {
								if (this.customerInfoData.silentOpened == 2) {
									uni.navigateTo({
										url: `/pages/webview/index?path=pages/home/payContract?title=${i18n.t('payContract.title')}`
									})
								} else if (this.customerInfoData.silentOpened == 1) {
									uni.showModal({
										content: `开户信息正在审核中，个人签约审核时间1-5分钟，企业签约审核时间1个工作日。审核完成后点击进行绑定银行卡快捷支付设置。`,
										confirmColor: this.$store.state.theme.presentTheme[
											"--theme-color"],
										showCancel: false,
									});
								} else if (this.customerInfoData.silentOpened == 3) {

									uni.showToast({
										icon: 'none',
										title: '开户信息填写不完整，正在前往修改',
										duration: 2000
									})
									setTimeout(() => {
										uni.navigateTo({
											url: `/pages/webview/index?path=pages/home/authentication&type=edit&title=${i18n.t('pages.authentication')}`
										})
									}, 1500);
								} else {}
							}
						} else {
							uni.navigateTo({
								url: `/pages/webview/index?path=pages/home/authentication&type=initialize&title=${i18n.t('pages.authentication')}`
							})
						}

						storage.set("customerInfoData", this.customerInfoData);
						return;

						if (res.data.confirmed == false) {
							//跳转实名认证页面
							let flowRequest = JSON.stringify(res.data);
							this.flowRequest = flowRequest;
							this.NoticeBar = {
								NoticeBarShow: true,
								text: "新系统线上充值签约需进行快捷支付资料填写，点击去填写",
								url: `/pages/webview/index?path=pages/home/authentication?flowRequest=${flowRequest}&title=${i18n.t('pages.authentication')}`,
							};
						} else if (
							res.data.silentOpened == 2 &&
							res.data.openAccountStatus == 0
						) {
							this.NoticeBar = {
								NoticeBarShow: true,
								text: "线上支付签约基础资料审核完成, 点击立即设置银行卡快捷支付密码",
								url: "/pages/webview/index?path=pages/home/payContract",
							};
						} else if (res.data.openAccountStatus == 4) {
							this.isAuthFn();
						}
					}
				});
			},
		},
	};
</script>
<style scoped lang="scss">
	page {
		background: #f6f6f6;
	}

	.container {
		padding-bottom: 200rpx;
	}

	.settingBox {
		position: absolute;
		top: 15rpx;
		right: 15rpx;
		z-index: 99;
	}

	.information {
		background: url(@/static/images/index/informationBg.png) no-repeat center/100% 100%;
		position: relative;
		overflow: hidden;

		.particulars {
			margin-top: 60rpx;
			display: flex;
			align-items: center;
			padding: 30rpx 28rpx 40rpx 28rpx;

			.particulars-info {
				display: flex;
				//   align-items: center;
				flex-direction: column;
				margin-left: 20rpx;
			}

			.topInfo {
				display: flex;
				align-items: center;
				font-size: 36rpx;
				font-family: PingFangSC-Bold, PingFang SC;
				font-weight: bold;
				color: #2e2e2e;
				line-height: 50rpx;

				.levelName {
					// width: 88rpx;
					// height: 36rpx;
					// background: linear-gradient(191deg, #1a171c 0%, #53525a 100%);
					border-radius: 30rpx;
					font-size: 26rpx;
					font-family: Alibaba-PuHuiTi-H, Alibaba-PuHuiTi;
					font-weight: 600;
					padding: 0rpx 14rpx;
					color: #ffe1be;
					margin-left: 8rpx;
					// line-height: 40rpx;
				}
			}

			.footInfo {
				display: flex;
				align-items: center;
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #2e2e2e;
				line-height: 34rpx;
				margin-top: 10rpx;

				.mobile {
					display: flex;
					align-items: center;

					.phone {
						padding-top: 4rpx;
						box-sizing: border-box;
					}
				}
			}

			.leveBox {
				display: flex;
				margin-top: 10rpx;
				flex-wrap: wrap;

				.leveItem {
					display: flex;
					align-items: center;
					font-family: PingFangSC-Bold, PingFang SC;
					font-weight: bold;
					color: #2e2e2e;
					margin-bottom: 10rpx;
				}

				.levelName {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					// background: linear-gradient(191deg, #1a171c 0%, #53525a 100%);
					border-radius: 30rpx;
					font-size: 22rpx;
					font-family: PingFangSC, PingFang SC;
					font-weight: 600;
					color: #ffffff;
					// padding: 0rpx 14rpx;
					padding-right: 28rpx;
					padding-top: 1rpx;
					padding-bottom: 2rpx;
					margin-left: 8rpx;
				}
			}
		}

		.balance {
			display: flex;
			// align-items: center;
			justify-content: space-between;
			padding: 0rpx 10rpx;
			flex-wrap: wrap;
		}

		.balance-item {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 24rpx 10rpx;

			.topMoney {
				font-size: 34rpx;
				font-family: PingFangSC-Bold, PingFang SC;
				font-weight: bold;
				color: #333233;
				margin-bottom: 6rpx;
			}

			.footInfo {
				font-size: 24rpx;
				// transform: scale(0.5);
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #585858;
				text-align: center;
				min-height: 50rpx;
				width: 120rpx;
			}
		}
	}

	.order {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 6rpx 24rpx;
		background-color: #fff;
		padding: 40rpx 32rpx;
		border-radius: 12rpx;

		.orderItem {
			display: flex;
			align-items: center;
			flex-direction: column;
			position: relative;

			.orderInfo {
				text-align: center;
				// min-height: 60rpx;
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #333233;
				width: 100rpx;
				min-height: 50rpx;
				display: flex;
				// align-content: center;
				justify-content: center;
				align-items: flex-start;
			}

			.count {
				position: absolute;
				// border-radius: 14rpx;
				// border: 2rpx solid $theme-color;
				font-size: 18rpx;
				font-family: PingFang-SC-Medium, PingFang-SC;
				font-weight: 500;
				color: $theme-color;
				right: 0;
				top: 0;
				// padding: 2rpx;
			}
		}
	}

	.commonFunction {
		margin: 20rpx 24rpx;
		background-color: #fff;
		padding: 20rpx 32rpx;
		border-radius: 12rpx;

		.title {
			font-size: 30rpx;
			font-family: PingFangSC-, PingFang SC;
			font-weight: normal;
			color: #222222;
			line-height: 42rpx;
		}

		.functionList {
			.grid-text {
				font-size: 22rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #333233;
				text-align: center;
				min-height: 60rpx;
				display: flex;
				align-items: center;
				//   width: 100rpx;
			}

			.ommonItemIconUrl {
				padding-top: 20rpx;
			}
		}
	}

	.popupList {
		margin-top: 100rpx;
		width: 300rpx;
		height: 800rpx;
		display: flex;
		padding: 0 0 0 2rpx;
		// justify-content: center;
		flex-direction: column;
		// align-items: center;

		.popupBtn {
			width: 80%;
			margin-top: 200rpx;
			background-color: $theme-color !important;
			border: 0 !important;
		}
	}

	picker-view {
		width: 100%;
		height: 500rpx;
		margin-top: 20rpx;
	}

	.picker-view .item {
		line-height: 100rpx;
		text-align: center;
	}

	.picker-title {
		height: 100rpx;
		line-height: 100rpx;
		display: flex;
		justify-content: space-between;
		padding: 0 20rpx;
		box-sizing: border-box;

		.picker-cancel {
			color: #666;
			padding: 0 20rpx;
		}

		.picker-confrim {
			color: $theme-color;
			padding: 0 20rpx;
		}
	}

	.platform {
		display: flex;
		position: absolute;
		top: 100rpx;
		z-index: 9;
		left: 30rpx;
		font-size: 24rpx;
		align-items: center;
		color: $theme-color;
		border: 2rpx solid $theme-color;
		border-radius: 30rpx;
		padding: 6rpx 20rpx;

		.title {
			margin-right: 10rpx;
			font-weight: bold;
		}

		.xian {
			height: 26rpx;
			width: 2rpx;
			background-color: $theme-color;
			margin-right: 10rpx;
			// border: 1rpx solid $theme-color;
		}

		.info {
			font-size: 22rpx;
		}
	}

	.remind {
		// margin: 6rpx 24rpx;
		font-size: 24rpx;

		::v-deep {
			.uicon-arrow-right {
				font-size: 24rpx !important;
			}
		}
	}

	::v-deep {
		.LangSwitchBox {
			color: rgb(96, 98, 102);
			border: 1px solid rgb(96, 98, 102);
		}

		.uicon-volume {
			font-size: 34rpx !important;
		}
	}

	li {
		list-style: none;
	}

	::v-deep .uv-modal {
		padding: 0 !important;

		.slot-content {
			width: 100%;
		}

		.uv-modal__content {
			margin: 0;
			padding: 0;
			width: 582rpx;

			li {
				display: flex;
				justify-content: center;
				height: 56rpx;
				line-height: 56rpx;
				font-size: 28rpx;
				color: #2e2e2e;
				// padding: 0 86rpx;

				span {
					width: 30%;
				}

				.b {
					margin-left: 15%;
				}
			}

			.listStyle1 {
				background: #f2f2f2;
			}

			.listStyle2 {
				background: #fff;
			}
		}
	}
</style>