<template>
  <div :style="this.$store.state.theme.presentTheme">
    <view class="storeList" v-if="storeData.length">
      <view class="storeItem" v-for="(item, index) in storeData" :key="index">
        <view class="name">
          <view class="left">
            <view class="yuan"></view>
            <p>{{ item.storeName }}</p>
          </view>
          <view class="right" :class="item.status" v-if="currentTab!==0">
            {{ auditStatus.get(item.status) }}
          </view>
        </view>
        <view class="info">
          开业日期：<span> {{ item.openingTime || '' }}</span>
        </view>
        <view class="info">
          营业日期：<span>{{ item.businessHours }}</span>
        </view>
        <view class="info">
          电话：<span>{{ item.phone || '' }}</span>
        </view>
        <view class="info">
          特色服务：<span>{{ item.featuredServices }}</span>
        </view>
        <view class="imgBox">
          <uv-image
            class="img"
            height="84rpx"
            width="84rpx"
            :src="item.licPictureUrl"
          ></uv-image>
          <uv-image
            class="img"
            height="84rpx"
            width="84rpx"
            :src="item.doorHeadPictureUrl"
          ></uv-image>
          <uv-image
            class="img"
            height="84rpx"
            width="84rpx"
            :src="item.displayPictureUrl"
          ></uv-image>
          <uv-image
            class="img"
            height="84rpx"
            width="84rpx"
            :src="item.transferAccountPictureUrl"
          ></uv-image>
          <uv-image
            class="img"
            height="84rpx"
            width="84rpx"
            :src="item.marriageCertificatePictureUrl"
          ></uv-image>
        </view>
        <view class="btnBox">
          <view v-if="currentTab==0" class="btn" @click="operate('look', item)"> 查看门店 </view>
          <view
            class="btn"
            @click="operate('edit', item)"
            v-if="currentTab!==0&&item.status == 'AuditFail'"
          >
            重新编辑
          </view>
          <view class="btn fillBtn" @click="operate('details', item)">
            门店详情
          </view>
        </view>
      </view>
    </view>
  </div>
</template>
<script>
export default {
  data() {
    const auditStatus = new Map([
      ["Created", "待审核"],
      ["AuditFail", "审核拒绝"],
      ["AuditSuccess", "审核通过"],
    ]);
    return {
      auditStatus,
    };
  },
  props: {
    storeData: {
      type: Array,
      default: [],
    },
    currentTab:{
      type:Number,
      default:0
    }
  },
  methods: {
    operate(type, data) {
      this.$emit("operations", type, data);
    },
  },
};
</script>
<style lang="scss" scoped>
.storeList {
  overflow: hidden;
  .storeItem {
    background-color: #fff;
    padding: 30rpx 20rpx;
    margin-bottom: 20rpx;
    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 34rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: bold;
      color: #222222;
      line-height: 48rpx;
      .left {
        display: flex;
        align-items: center;
        flex: 1;
      }
      .right {
        font-size: 30rpx;
        min-width: 100rpx;
        // font-weight: 200;
      }
      .Created {
        color: #ff9900;
      }
      .AuditFail {
        color: #b41701;
      }
      .AuditSuccess {
        color: #1eb132;
      }
      .yuan {
        min-width: 28rpx;
        height: 28rpx;
        background: #b41701;
        border-radius: 100%;
      }
      p {
        margin-left: 10rpx;
      }
    }
    .info {
      font-size: 26rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      color: #222222;
      line-height: 36rpx;
      margin-top: 16rpx;
      span {
        color: #222222;
      }
    }
    .imgBox {
      margin-top: 16rpx;
      display: flex;
      .img {
        margin-right: 16rpx;
      }
    }
    .btnBox {
      padding: 40rpx 0 20rpx;
      display: flex;
      justify-content: flex-end;
      .btn {
        border-radius: 12rpx;
        border: 2rpx solid #999999;
        padding: 10rpx 24rpx;
        margin-left: 20rpx;
        font-size: 28rpx;
        font-family: PingFang-SC, PingFang-SC;
        font-weight: bold;
        color: #222222;
      }
      .fillBtn {
        background-color: $theme-color !important;
        color: #fff;
        border: 0;
      }
    }
  }
}
</style>