<template>
  <view class="content">
    <commonTop :isBack='true' :show='true'>{{ $t('invite.address') }}</commonTop>
    <mescroll-body @init="mescrollInit" @down="downCallback" @up="upCallback" class="mescrollBox">
      <view class="listItem" v-for="(item, index) in addressListData" :key="index">
        <view class="listItem-box" @click="selectFn(item)">
          <view class="listItem-top">
            <view class="siteTitle">
              {{ item.consigneeName }} ({{ item.phoneRegion }}){{ item.mobile }}
            </view>
          </view>
          <view class="listItem-address">
            {{
      item.provinceName +
      " " +
      item.cityName +
      " " +
      item.districtName +
      " " +
      item.address
    }}
          </view>
        </view>
        <view class="operation">
          <view class="selected">
            <uv-image width="36rpx" height="36rpx" src="../../static/images/goods/playSucc.png"
              v-if="item.isDefault"></uv-image>
            <uv-image width="36rpx" height="36rpx" src="../../static/images/goods/unselected.png" v-else
              @click="isDefaultFn(item)"></uv-image>

            <text style="margin-left: 14rpx">{{ $t("address.setDefault") }}</text>
          </view>
          <view class="editor">
            <view class="delete" @click="deleteBtn(item.id)">{{ $t("goods.delete") }}</view>
            <view class="compile" @click="goTo(1, item)">{{ $t("goods.edit") }}</view>
          </view>
        </view>
      </view>
    </mescroll-body>
    <view class="footBox">
      <view class="addBtn" @click="goTo(2)">{{ $t("address.AddDeliveryInformation") }}</view>
    </view>
  </view>
</template>

<script>
import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
import { addressList, addressDel, setIsDefault } from "@/config/vmeitime-http/address.js";
import storage from "@/utils/storage.js";
import commonTop from '@/components/CommonTop'
import {
  i18n
} from '@/main.js'

export default {
  mixins: [MescrollMixin],
  components: {
    commonTop
  },
  data() {
    return {
      addressListData: [],
      select: "",
    };
  },
  onLoad(options) {
    console.log("options: ", options);
    if (options.select) {
      this.select = options.select;
    }
  },
  onShow() {
    // this.mescrollInit()
    // this.mescroll.resetUpScroll();
  },
  mounted() { },
  methods: {
    // 选择地址模式
    selectFn(item) {
      if (this.select == "1") {
        // let newAddress = JSON.stringify(item);
        storage.set("selectNewAddress", item)
        // uni.redirectTo({
        //   url: "/pages/order/confirmOrder?newAddress=" + newAddress,
        // });
        setTimeout(() => {
          uni.navigateBack()
        }, 100)

      } else {
        return;
      }
    },
    // 删除
    deleteBtn(id) {
      let that = this;
      uni.showModal({
        title: i18n.t("address.deleteThisAddress"),
        confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
        success: function (res) {
          if (res.confirm) {
            console.log("用户点击确定");
            that.addressDelFn(id)
          } else if (res.cancel) {
            console.log("用户点击取消");
          }
        },
      });

      ;
    },

    isDefaultFn(item) {
      let id = item.id;
      let params = {
        isDefault: true,
      };
      this.setIsDefaultFn(id, params);
    },

    // 删除接口
    addressDelFn(id) {
      addressDel(id).then((res) => {
        uni.showToast({
          icon: 'none',
          title: i18n.t('goods.operateSuccessfully'),
          duration: 1500
        })
        this.mescroll.resetUpScroll();
      });
    },

    // 是否设置默认地址
    setIsDefaultFn(id, params) {
      setIsDefault(id, params).then((res) => {
        if (res) {
          uni.showToast({
            icon: 'none',
            title: i18n.t('goods.operateSuccessfully'),
            duration: 1500
          })
          this.mescroll.resetUpScroll();
        }
      });
    },

    // 跳转
    goTo(type, data) {
      console.log("type,data: ", type, data);
      if (type == 1) {
        let addressApplication = data;
        let formDataAddr = {
          consigneeName: addressApplication.consigneeName,
          country: addressApplication?.country * 1,
          countryName: addressApplication?.countryName,
          addressApplication: [
            {
              text: addressApplication?.provinceName,
              value: addressApplication?.province,
            },
            {
              text: addressApplication?.cityName,
              value: addressApplication?.city,
            },
            {
              text: addressApplication?.districtName,
              value: addressApplication?.district,
            },
          ],
          address: addressApplication?.address,
          phone: addressApplication.mobile,
          isDefault: addressApplication.isDefault,
          phoneRegion: addressApplication.phoneRegion,
          id: addressApplication.id,
        };
        console.log("formDataAddr: ", formDataAddr);
        storage.set("formDataAddr", formDataAddr);
      }

      uni.navigateTo({ url: `/pagesA/address/newAddress?type=${type}&select=` + this.select });
    },

    // 获取地址列表
    /*上拉加载的回调*/
    upCallback(page) {
      let pageNum = page.num - 1; // 页码, 默认从1开始
      let pageSize = page.size; // 页长, 默认每页10条
      let param = {
        page: pageNum,
        size: pageSize,
        sort: "lastModifiedDate,desc",
      };
      addressList({ params: param }).then((res) => {
        if (res) {
          let curPageData = res.content;
          let curPageLen = curPageData.length; // 接口返回的当前页数据长度
          let totalPage = res.totalPages; // 接口返回的总页数
          if (page.num == 1) this.addressListData = []; //如果是第一页需手动置空列表
          this.addressListData = this.addressListData.concat(curPageData); //追加新数据

          //方法一(推荐): 后台接口有返回列表的总页数 totalPage  // 请求成功,隐藏加载状态
          this.mescroll.endByPage(curPageLen, totalPage);
        } else {
          this.mescroll.endErr();
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.content {
  // padding: 10rpx;
  height: 100%;
  background: #f6f6f6;
  margin: 0 auto;
}

.mescrollBox {
  margin-bottom: 100rpx;
}

.listItem {
  background-color: #fff;
  position: relative;
  padding: 24rpx;
  // border-bottom: 2rpx solid #ccc;
  font-size: 14px;
  margin-bottom: 24rpx;

  .listItem-box {
    // display: flex;
    position: relative;
    border-bottom: 2rpx solid #f6f6f6;
    padding-bottom: 24rpx;
  }

  .listItem-top {
    display: flex;
  }

  .edit-image {
    // position: absolute;
    // margin-left: 300rpx;
    position: relative;
    left: 260rpx;
  }

  .listItem-address {
    margin-top: 10rpx;
    font-size: 28rpx;
    font-family: PingFang-SC-Regular, PingFang-SC;
    font-weight: 400;
    color: #222222;
  }

  .siteTitle {
    // margin-left: 20rpx;
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: #222222;
  }

  .operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24rpx;

    .selected {
      display: flex;
      align-items: center;
      font-size: 28rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #222222;
    }

    .editor {
      display: flex;
      align-items: center;
      font-size: 26rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #999999;

      .compile {
        margin-left: 40rpx;
      }
    }
  }

  .addBtn {
    width: 702rpx;
    height: 88rpx;
    background: $theme-color;
    border-radius: 12rpx;
    color: #fff;
  }
}

.footBox {
  position: fixed;
  bottom: 24rpx;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn {
  width: 702rpx;
  height: 88rpx;
  background: #b41701;
  border-radius: 12rpx;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>