<template>
	<div :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('myEarnings.title') }}</commonTop>
		<view class="content">
			<image class="img" src="../../static/images/index/defaultPage.png"></image>
			<view class="title">{{ $t("defaultPage.title") }}</view>
			<view class="info"> {{ $t("defaultPage.info") }}</view>
		</view>
		<view class="buttonBox" @click="goTo('pages/account/historyBonus')" v-if="type =='myEarnings'"> 查看历史奖金 </view>
		<view style="margin-top: 40rpx" class="buttonBox Withdraw" @click="currentapplyFn('/pages/account/withdraw')"
			v-if="type == 'myEarnings'">
			去提现
		</view>
	</div>
</template>
<script>
	import commonTop from '@/components/CommonTop'
	import storage from "@/utils/storage.js";
	import {
		i18n
	} from '@/main.js'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				type: '',
				userInfo: storage.get("loginInfo")
			};
		},
		onLoad(options) {
			console.log('options: ', options);
			if (options.type) {
				this.type = options.type;
			}
		},
		methods: {
			goTo(url) {
				uni.navigateTo({
					url: `/pages/webview/index?path=${url}&title=${i18n.t('historyBonus.title')}`
				})
			},

			currentapplyFn() {
				let param = {
					customerCode: this.userInfo.authorizationCode,
					period: '202401' // dayjs().subtract(1, 'month').format('YYYYMM'),
				};
				this.$api.currentapply(param).then((res) => {
					if (res.code == 200) {
						if (res?.data) {
							uni.navigateTo({
								url: "/pages/webview/index?path=pages/account/wirhdrawDetails"
							});
						} else {
							uni.navigateTo({
								url: "/pages/webview/index?path=pages/account/withdraw"
							});
						}
					} else {
						uni.showToast({
							icon: 'none',
							title: res.msg || "提现异常，请稍后再试",
							duration: 1500
						})

					}
				});
			},
		}
	};
</script>
<style lang="scss" scoped>
	page {
		background-color: #fff;
	}

	.content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 50vh;
	}

	.title {
		font-size: 26rpx;
		font-family: PingFang-SC, PingFang-SC;
		font-weight: 500;
		color: #2e2e2e;
		line-height: 36rpx;
		margin-top: 48rpx;
	}

	.info {
		font-size: 26rpx;
		font-family: PingFang-SC, PingFang-SC;
		font-weight: 500;
		color: #585858;
		line-height: 36rpx;
		margin-top: 8rpx;
	}

	.buttonBox {
		margin: 10rpx auto;
		border-radius: 12rpx;
		border: 2rpx solid $theme-color;
		text-align: center;
		width: 272rpx;
		height: 52rpx;
		line-height: 52rpx;
		font-size: 28rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: bold;
		color: $theme-color;
	}

	.img {
		width: 212rpx;
		height: 232rpx;
	}
	.Withdraw {
	  background-color: $theme-color !important;
	  color: #fff !important;
	}
</style>