<template>
	<view class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :show='true'>{{ $t('pages.home') }}</commonTop>
		<decorate-page isHomePage pageType="1" :refresh="refresh"
			@stopPullDownRefresh="stopPullDownRefresh"></decorate-page>
		<m-tabbar fixed fill current="0" :tabbar="tabbar"></m-tabbar>
	</view>
</template>
<script>
	import TabbarConfig from "@/config/tabbar.js";
	import Decorate from "@/components/decorate/decorate.vue";
	import commonTop from '@/components/CommonTop'

	export default {
		components: {
			"decorate-page": Decorate,
			commonTop
		},
		data() {
			return {
				tabbar: TabbarConfig(this),
				refresh: false,
			};
		},
		onLoad() {
			// 没有开启native模式下，使用reLaunch跳转，会存在首页标志，需要隐藏
			// uni.hideHomeButton();//测试
		},
		mounted() {},
		methods: {
			stopPullDownRefresh() {
				// console.log("qqqqqqqqq");
				this.refresh = false;
				uni.stopPullDownRefresh();
			},
		},
		onPullDownRefresh() {
			console.log("refresh");
			this.refresh = true;
			// setTimeout(function () {
			//   uni.stopPullDownRefresh();
			// }, 1000);
		},
	};
</script>
<style lang="scss" scoped>
	.container {
		// overflow: hidden;
	}
</style>