<template>
	<div :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('trainingCenter.title') }}</commonTop>
		<view class="commonFunction">
			<view class="functionList">
				<uv-grid :border="false" :col="4">
					<template v-for="(ommonItem, ommonIndex) in trainingList">
						<uv-grid-item :key="ommonIndex" @click="(e) => commonClickTo(e, ommonItem)"
							v-if="ommonItem.signDisplayed">
							<template v-if="ommonItem.name">
								<uv-icon :customStyle="{ paddingTop: 20 + 'rpx' }" :name="ommonItem.name" :size="60"
									:color="$store.state.theme.presentTheme['--theme-color']"></uv-icon>
							</template>
							<template v-if="ommonItem.iconUrl">
								<uv-image :src="ommonItem.iconUrl" class="ommonItemIconUrl" height="60rpx" width="60rpx"
									shape="circle">
								</uv-image>
							</template>
							<text class="grid-text">{{ $t(ommonItem.title) }}</text>
						</uv-grid-item>
					</template>
				</uv-grid>
			</view>
		</view>
	</div>
</template>
<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				trainingList: [{
					iconUrl: require("@/static/images/index/Myinviter.png"),
					title: "trainingCenter.trainingWill",
					id: "trainingWill",
					toUrl: "/pagesA/trainingCenter/trainingWill/list",
					signDisplayed: true,
				}, ],
			};
		},
		methods: {
			// 常用功能跳转
			commonClickTo(e, item) {
				if (item.toUrl) {
					uni.navigateTo({
						url: item.toUrl
					});
				}
			},
		},
	};
</script>
<style lang="scss" scoped>
	.commonFunction {
		margin: 20rpx 24rpx;
		background-color: #fff;
		padding: 20rpx 32rpx;
		border-radius: 12rpx;

		.title {
			font-size: 30rpx;
			font-family: PingFangSC-, PingFang SC;
			font-weight: normal;
			color: #222222;
			line-height: 42rpx;
		}

		.functionList {
			.grid-text {
				font-size: 22rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #333233;
				text-align: center;
				min-height: 60rpx;
				display: flex;
				align-items: center;
				//   width: 100rpx;
			}

			.ommonItemIconUrl {
				padding-top: 20rpx;
			}
		}
	}
</style>