<template>
	<div :style="this.$store.state.theme.presentTheme">

		<commonTop :isBack='true' :show='true'>划转金额</commonTop>
		<view class="relevantAmount" v-if="summaryByAccountData && summaryByAccountData.length">
			<view class="relevantAmount-item">
				<text class="name">线上货款：</text>
				<text class="amount">{{ $store.getters.moneyMark
          }}{{ currency(summaryByAccountData[0].availableAmount) }}</text>
			</view>
			<view class="relevantAmount-item">
				<text class="name">保证金(美黑护)：</text>
				<text class="amount">{{ $store.getters.moneyMark
          }}{{
            currency(summaryByAccountData[1].cashDepositFrontDtos[0].amount)
          }}</text>
			</view>
			<view class="relevantAmount-item">
				<text class="name">保证金(美人计中康)：</text>
				<text class="amount">{{ $store.getters.moneyMark
          }}{{
            currency(
              currency(summaryByAccountData[1].cashDepositFrontDtos[1].amount)
            )
          }}</text>
			</view>
			<view class="relevantAmount-item">
				<text class="name">培训费：</text>
				<text class="amount">{{ $store.getters.moneyMark
          }}{{ currency(summaryByAccountData[2].amount) }}</text>
			</view>
		</view>

		<view class="rechargeBox">
			<view class="rechargeType" style="border-bottom: 2rpx solid #ededed">
				<view class="title"> 划转方向 </view>
				<view class="typeBox">
					<view class="typeItem" v-for="item in typeList" :key="item.id"
						:class="recharge.type == item.id ? 'Active' : ''" @click="SelectedFn('type', item.id)">
						{{ item.label }}
					</view>
				</view>
				<!-- <view class="zyi">注：培训费默认冲向平台，与选择收款方无关</view> -->
			</view>
			<view class="rechargeType" v-if="recharge.type == 'CashDeposit'">
				<view class="title"> 充值平台 </view>
				<view class="typeBox">
					<view class="typeItem" v-for="item in platformList" :key="item.id"
						:class="recharge.depositRuleId == item.id ? 'Active' : ''"
						@click="SelectedFn('depositRuleId', item.id)">
						{{ item.name }}
					</view>
				</view>
			</view>
			<view class="rechargeAmount">
				<view class="topTitle">
					<view class="title">划转金额(元)</view>
					<!-- <view class="record">
            <text>充值记录</text>
            <u-icon size="40" color="#ccc" name="arrow-right"></u-icon>
          </view> -->
				</view>

				<uv-input class="amountInput" placeholder="请输入划转金额" border="none" clearable type="number"
					fontSize="50rpx" maxlength="10" @input="inputChange" v-model="recharge.orderAmount">
					<template slot="prefix">
						<view class="moneyMark">{{ $store.getters.moneyMark }}</view>
					</template>
				</uv-input>
			</view>
		</view>

		<uv-button @click="toPupBtn" class="withdrawBtn" :color="activeColor"> 立即划转 </uv-button>

		<uv-popup :show="show" @close="show = false" @open="show = true" :round="10" closeable closeIconPos="top-left"
			mode="bottom" class="popupBox" :zIndex="888">
			<p class="title">划转金额</p>
			<p class="money">
				<text style="font-size: 50rpx">{{ $store.getters.moneyMark }}</text>
				<text>{{ currency(recharge.orderAmount) }}</text>
			</p>
			<view class="bankCardList">
				<view class="checkboxBox">
					<uv-radio-group iconPlacement="right" placement="column" size="20px" iconSize="18px"
						v-model="recharge.payTypeId">
						<uv-radio v-for="(item, index) in bankCardList" :key="index" labelSize="28"
							:activeColor="$store.state.theme.presentTheme['--theme-color']" :label="item.name"
							:name="item.payTypeId" @change="(e) => checkboxChange(e, item)">
							<view class="checkboxInfo">
								<view class="rightBanck">
									<view class="name">
										{{ item.payName }}
									</view>
								</view>
							</view>
						</uv-radio>
					</uv-radio-group>
				</view>
			</view>
			<view v-if="bankCardList.length" class="confirm" @click="$u.throttle(payConfirm, 2000)">确定</view>
		</uv-popup>

		<uv-modal :show="modalShow" title="请输入手机验证码" :confirmColor="$store.state.theme.presentTheme['--theme-color']"
			:showCancelButton="true" @cancel="modalShow = false" @confirm="verifyCodeConfirm">
			<view class="slot-content">
				<view class="modalInfo">交易申请成功,需要再次进行短信验证码校验</view>
				<u-code-input v-model="verifyCode" :maxlength="6" size="80rpx" fontSize="60rpx"></u-code-input>
			</view>
		</uv-modal>
	</div>
</template>
<script>
	import {
		cashDepositRuleList,
		summaryByAccount,
		specifyType,
		payValidate,
		rechargeParam,
	} from "@/config/vmeitime-http/account.js";
	import {
		passwordControl
	} from "@/config/vmeitime-http/order.js";
	import {
		currency
	} from "@/utils/util.js";
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	const lianlianpay = require("@/utils/lianlianpay");

	export default {
		components: {
			commonTop
		},
		data() {
			return {
				activeColor: this.$store.state.theme.presentTheme['--theme-color'],
				currency,
				userInfo: storage.get("loginInfo"),
				typeList: [{
						label: "保证金",
						id: "CashDeposit",
					},
					{
						label: "培训费",
						id: "TrainingExpense",
					},
				],
				summaryByAccountData: null,
				recharge: {
					// rechargePurpose: null,
					orderAmount: "",
					type: "",
					depositRuleId: "",
					payTypeId: null,
					// nearestFounderCustomerId: "",
				},
				platformList: [],
				bankCardList: [],
				show: false,

				modalShow: false,
				verifyCode: "",
				outTradeNo: "",
			};
		},
		mounted() {
			this.cashDepositRuleListFn();
			this.summaryByAccountFn();
			this.specifyTypeFn();
		},
		methods: {
			// 立即划转
			toPupBtn() {
				if (this.summaryByAccountData[0].availableAmount <= 0) {
					uni.showToast({
						icon: 'none',
						title: '线上货款不足，暂不能划转',
						duration: 2000
					})
					return;
				}
				if (!this.recharge.type) {
					uni.showToast({
						icon: 'none',
						title: '请选择划转方向',
						duration: 2000
					})
					return;
				}

				if (this.recharge.type == "CashDeposit" && !this.recharge.depositRuleId) {
					uni.showToast({
						icon: 'none',
						title: '请选择充值平台',
						duration: 2000
					})
					return;
				}
				if (!this.recharge.orderAmount) {
					uni.showToast({
						icon: 'none',
						title: '请先输入划转金额',
						duration: 2000
					})
					return;
				}
				this.show = true;
			},
			// 确定划转
			payConfirm() {
				this.passwordControlFn();
			},
			// 获取唤起密码控件token
			passwordControlFn() {
				uni.showLoading({
					mask: true
				});
				let params = {
					customNo: this.userInfo.authorizationCode,
					amount: this.recharge.orderAmount,
					passwordUseType: 5,
					channelNo: 1,
				};
				passwordControl(params).then((res) => {
					if (res?.code == 200 && res?.data) {
						//   this.passwordElementToken = res.data.passwordElementToken;
						this.lianlianpayPasswordFn(res.data);
					} else {
						uni.showToast({
							icon: 'none',
							title: res.msg || "网络繁忙，请稍后重试",
							duration: 2000
						})
						
						uni.hideLoading();
					}
				});
			},
			//唤起连连支付密码控件
			lianlianpayPasswordFn(data) {
				uni.hideLoading();
				this.show = false;
				lianlianpay.invokePasswordControl({
						passwordScene: "pay_password",
						oidPartner: data.oidPartner, // 商户号
						userId: data.payUserId, // 用户号
						passwordElementToken: data.passwordElementToken, // 向服务端请求生成的 token
						env: "production", // 默认 production-生产
						styles: {
							// 样式集合
							themeColor: "rgba(180, 23, 1, 1)", // 主题颜色（按钮等）
						},
					},
					(res) => {
						console.log("密码数据", res);
						if (res?.data) {
							let datas = {
								password: res.data.password,
								randomValue: res.data.randomKey,
							};
							this.rechargeParamFn(datas);
						} else {
							
							uni.showToast({
								icon: 'none',
								title: "失败，请稍后重试",
								duration: 2000
							})
						}
					},
					(err) => {
						console.log("err: ", err);
					}
				);
			},
			// 获取支付要素
			rechargeParamFn(data) {
				let param = {
					payTypeId: this.recharge.payTypeId,
					accountType: this.recharge.type,
					orderAmount: this.recharge.orderAmount,
					depositRuleId: this.recharge.type == "CashDeposit" ?
						this.recharge.depositRuleId :
						"",
					...data,
				};
				console.log("data:获取支付要素 ", param, data);
				uni.showLoading({
					mask: true,
					title: ""
				});

				rechargeParam(param).then((res) => {
					if (res?.code == 200) {
						uni.hideLoading();
						if (res.data.paid) {
							
							uni.showToast({
								icon: 'none',
								title: "划转成功",
								duration: 2000
							})
							setTimeout(() => {
								uni.redirectTo({
									url: "/pages/user/index",
								});
							}, 500);
						} else {
							this.outTradeNo = res.data.outTradeNo;
							this.modalShow = true;
						}
					} else {
						uni.showToast({
							icon: 'none',
							title: res.msg || "网络繁忙，请稍后重试",
							duration: 2000
						})
						
					}
				});
			},
			//验证确认支付
			verifyCodeConfirm() {
				if (!this.verifyCode && this.verifyCode.length !== 6) {
					uni.showToast({
						icon: 'none',
						title: "请输入完整验证码",
						duration: 2000
					})
					return;
				}
				this.payValidateFn();
			},
			// 验证银行卡快捷支付
			payValidateFn() {
				let param = {
					// type: "recharge",
					outTradeNo: this.outTradeNo,
					verifyCode: this.verifyCode,
				};
				payValidate(param).then((res) => {
					if (res?.code == 200) {
						uni.showToast({
							icon: 'none',
							title: "划转成功",
							duration: 2000
						})
						setTimeout(() => {
							uni.redirectTo({
								url: "/pages/user/index",
							});
						}, 500);
						this.modalShow = false;
					} else {
						this.modalShow = false;
						this.verifyCode = "";
						uni.$u.toast(res.msg);
					}
				});
			},
			// 选中处理
			SelectedFn(type, id) {
				this.recharge[type] = id;
			},
			// input输入变化
			inputChange(val) {
				console.log("val: ", val);
				if (Number(val) >= this.summaryByAccountData[0].availableAmount) {
					this.recharge.orderAmount =
						this.summaryByAccountData[0].availableAmount;
				}
			},

			// 保证金充值平台列表接口
			cashDepositRuleListFn() {
				cashDepositRuleList().then((res) => {
					if (res.code == 200) {
						this.platformList = res.data;
					}
				});
			},
			//可划转金额资金显示明细接口
			summaryByAccountFn() {
				summaryByAccount().then((res) => {
					if (res.code == 200) {
						this.summaryByAccountData = res.data;
					}
				});
			},
			//确认划转获取支付方式
			specifyTypeFn() {
				specifyType().then((res) => {
					if (res.code == 200 && res?.data) {
						this.bankCardList = [res.data];
						this.recharge.payTypeId = res.data.payTypeId;
					} else {
						uni.showModal({
							title: "提示",
							content: "暂未配置支付方式，暂时无法划转",
							showCancel: false,
							confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
							success: function(res) {
								if (res.confirm) {
									console.log("用户点击确定");
									uni.navigateBack();
								} else if (res.cancel) {
									console.log("用户点击取消");
								}
							},
						});
					}
				});
			},
		},
	};
</script>
<style lang="scss" scoped>
	page {
		background: #f6f6f6;
	}

	.relevantAmount {
		background-color: #fff;
		padding: 20rpx 32rpx;
		margin-top: 20rpx;
		font-size: 30rpx;
		line-height: 50rpx;

		.amount {
			color: $theme-color;
			font-size: 32rpx;
		}
	}

	.rechargeBox {
		background-color: #fff;
		padding: 20rpx 32rpx;
		margin-top: 20rpx;
	}

	.rechargeAmount {
		margin-top: 30rpx;

		.topTitle {
			display: flex;
			justify-content: space-between;
		}

		.title {
			font-size: 28rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: 500;
			color: #2e2e2e;
			line-height: 40rpx;
			// margin-top: 40rpx;
		}

		.record {
			display: flex;
			align-items: center;
			font-size: 28rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #6a8dff;
			line-height: 40rpx;
		}

		.amountInput {
			border-bottom: 1px solid #ededed !important;
			padding: 30rpx 0rpx 20rpx 4rpx !important;
			font-size: 50rpx;
		}

		.moneyMark {
			font-size: 68rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: bold;
			color: #2e2e2e;
			line-height: 96rpx;
		}

		.allBtn {
			font-size: 32rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #6a8dff;
			line-height: 44rpx;
		}
	}

	.rechargeType {
		padding-bottom: 24rpx;

		.title {
			font-size: 28rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #666666;
			line-height: 40rpx;
			margin-top: 18rpx;
		}

		.typeBox {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			.typeItem {
				min-width: 100rpx;
				height: 68rpx;
				background: #f6f6f6;
				border-radius: 12rpx;
				text-align: center;
				line-height: 68rpx;
				margin-top: 20rpx;
				border: 2rpx solid #f6f6f6;
				padding: 0 30rpx;
			}
		}

		.zyi {
			font-size: 22rpx;
			margin-top: 20rpx;
			margin-left: 30rpx;
			color: #ccc;
		}
	}

	.Active {
		background: rgba(180, 23, 1, 0.5);
		border-radius: 12rpx;
		border: 2rpx solid $theme-color !important;
		color: $theme-color;
	}

	.withdrawBtn {
		width: 686rpx;
		height: 80rpx;
		background: $theme-color !important;
		border-radius: 12rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		margin: 40rpx auto;
		font-size: 36rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
	}

	.popupBox {
		.title {
			font-size: 34rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 800;
			color: #222222;
			line-height: 44rpx;
			margin: 32rpx auto;
			width: 100%;
			text-align: center;
		}

		.money {
			margin: 32rpx auto;
			width: 100%;
			text-align: center;
			font-size: 76rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: bold;
			color: $theme-color;
			line-height: 106rpx;
		}

		.bankCardList {
			padding: 32rpx;
			margin-bottom: 100rpx;

			.checkboxBox {

				// width: 800rpx;
				.checkboxInfo {
					display: flex;
				}

				.rightBanck {
					margin-left: 30rpx;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					line-height: 60rpx;

					.name {
						font-size: 32rpx;
						font-family: PingFang-SC, PingFang-SC;
						font-weight: bold;
						color: #2e2e2e;
						//   line-height: 44rpx;
					}

					// .subBranch {
					//   font-size: 26rpx;
					//   font-family: PingFangSC, PingFang SC;
					//   font-weight: 400;
					//   color: #2e2e2e;
					//   line-height: 36rpx;
					// }
				}

				::v-deep {
					.u-checkbox-label--right {
						padding: 20rpx 0;
					}

					.u-radio-label--right {
						padding: 20rpx 0;
						border-bottom: 2rpx solid #ededed !important;
					}
				}
			}
		}

		.bankCard {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 2rpx solid #ededed;
			padding-bottom: 34rpx;
			margin-left: 10rpx;

			.bankCardName {
				flex: 1;
				margin-left: 50rpx;
			}
		}

		.confirm {
			background: $theme-color;
			color: #fff;
			// margin: 0 20rpx;
			width: 95%;
			// margin-bottom: 50rpx;
			height: 88rpx;
			text-align: center;
			margin: 50rpx auto;
			line-height: 88rpx;
		}

		::v-deep {
			.uicon-close {
				font-size: 36rpx !important;
			}
		}
	}

	::v-deep {
		.u-fade-enter-active {
			z-index: 887 !important;
		}
	}
</style>